body {
  min-width: 320px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a {
  color: #666; }
  a:hover, a:focus {
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

body {
  padding-top: 62px; }
  @media (min-width: 768px) {
    body {
      padding-top: 101px; } }
  @media (min-width: 1200px) {
    body {
      padding-top: 127px; } }

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 62px;
  border-top: 3px solid #0d2557;
  z-index: 100; }
  #header .top-nav {
    text-align: right;
    background-color: #0d2557; }
    #header .top-nav .quick-menu {
      display: inline-block;
      font-size: 0; }
      #header .top-nav .quick-menu > li {
        display: inline-block; }
        #header .top-nav .quick-menu > li > a {
          display: block;
          font-size: 11px;
          width: 90px;
          color: #93a8c9;
          text-align: center;
          font-weight: 400;
          border-right: 1px solid #325293;
          background-color: #143883;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
          font-family: 'Roboto', sans-serif;
          padding: 10px 0; }
          #header .top-nav .quick-menu > li > a:hover, #header .top-nav .quick-menu > li > a:focus {
            opacity: .8; }
        #header .top-nav .quick-menu > li:last-child > a {
          border-right: 0; }
  #header .logo-nav {
    background-color: #fff; }
    #header .logo-nav .logo {
      display: inline-block;
      vertical-align: top;
      padding: 10px 0; }
      #header .logo-nav .logo a {
        display: block; }
        #header .logo-nav .logo a img {
          width: 81px;
          display: inline-block;
          vertical-align: top; }
    #header .logo-nav .btn-link {
      float: right;
      display: block;
      width: 22px;
      height: 17px;
      border: 0;
      padding: 0;
      margin-top: 20px;
      border-radius: 0;
      background-image: url(/assets/images/btn_menu.gif);
      background-repeat: no-repeat;
      background-size: 22px auto;
      background-position: 50% 50%; }
  @media (min-width: 768px) {
    #header {
      height: 101px; }
      #header .logo-nav .logo {
        padding: 16px 0; }
        #header .logo-nav .logo a img {
          width: 148px; }
      #header .logo-nav .btn-link {
        width: 36px;
        height: 27px;
        margin-top: 35px;
        background-size: 36px 27px; } }
  @media (min-width: 1200px) {
    #header {
      height: 127px;
      border-top: 0; }
      #header .logo-nav {
        height: 92px;
        border-bottom: 2px solid #004f97; }
        #header .logo-nav .logo {
          padding: 12px 0; } }

.nav-expanded #header {
  height: 407px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  background-color: rgba(34, 34, 34, 0.8); }

#nav > ul {
  font-size: 0; }
  #nav > ul > li {
    vertical-align: top;
    display: inline-block;
    width: 25%;
    text-align: center; }
    #nav > ul > li > a {
      font-size: 19px;
      color: #222;
      font-weight: 500;
      line-height: 90px;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.15s;
      transition-duration: 0.15s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s; }
    #nav > ul > li.active > a {
      color: #004f97; }
    #nav > ul > li ul {
      padding: 30px 0; }
      #nav > ul > li ul li {
        line-height: 48px; }
        #nav > ul > li ul li a {
          text-align: center;
          font-size: 16px;
          color: #fff;
          font-weight: 400;
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          #nav > ul > li ul li a:hover, #nav > ul > li ul li a:focus {
            color: #93a8c9; }

.nav-opened {
  overflow: hidden; }
  .nav-opened #nav-aside {
    right: 0; }
    .nav-opened #nav-aside .nav-content {
      right: 0; }

#nav-aside {
  position: fixed;
  top: 0;
  right: -100%;
  /*right: 0;*/
  width: 100%;
  height: 100%;
  z-index: 100; }
  #nav-aside .nav-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); }
  #nav-aside .nav-content {
    position: absolute;
    top: 0;
    right: -100%;
    /*right: 0;*/
    width: 320px;
    height: 100%;
    padding-top: 62px;
    background-color: #fff;
    z-index: 200;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s; }
    #nav-aside .nav-content .nav-header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      padding: 13px 10px; }
      #nav-aside .nav-content .nav-header .logo {
        float: left;
        display: inline-block;
        vertical-align: top; }
        #nav-aside .nav-content .nav-header .logo img {
          width: 81px;
          display: inline-block;
          vertical-align: top; }
      #nav-aside .nav-content .nav-header .btn-link {
        float: right;
        width: 18px;
        height: 18px;
        border: 0;
        padding: 0;
        margin-top: 8px;
        background-image: url(/assets/images/btn_close.gif);
        background-position: 50% 50%;
        background-size: 18px auto; }
  #nav-aside .nav-body {
    overflow: auto;
    height: 100%;
    padding-bottom: 40px; }
    #nav-aside .nav-body > ul > li > a {
      position: relative;
      display: block;
      font-size: 15px;
      color: #333;
      font-weight: 400;
      line-height: 50px;
      padding: 0 10px;
      border-bottom: 1px solid #ccc; }
      #nav-aside .nav-body > ul > li > a:after {
        position: absolute;
        top: 0;
        right: 10px;
        font-family: "fontello";
        content: "\E802"; }
    #nav-aside .nav-body > ul > li > ul {
      display: none;
      background-color: #f4f4f4; }
      #nav-aside .nav-body > ul > li > ul > li > a {
        font-size: 14px;
        color: #999;
        display: block;
        padding-left: 25px;
        line-height: 50px;
        border-bottom: 1px solid #dadada; }
        #nav-aside .nav-body > ul > li > ul > li > a:before {
          content: "- "; }
    #nav-aside .nav-body > ul > li:first-child > a {
      border-top: 1px solid #ccc; }
    #nav-aside .nav-body > ul > li.selected > a {
      color: #fff;
      border-color: #0d2557;
      background-color: #0d2557; }
      #nav-aside .nav-body > ul > li.selected > a:after {
        content: "\E803"; }
    #nav-aside .nav-body > ul > li.selected > ul {
      display: block; }
    #nav-aside .nav-body .btn-mypage {
      margin-top: 30px;
      padding: 0 10px; }
      #nav-aside .nav-body .btn-mypage .btn-link {
        display: block;
        font-size: 13px;
        color: #666;
        text-align: center;
        line-height: 38px;
        padding: 0;
        text-decoration: none;
        border: 1px solid #d7d7d7; }
  @media (min-width: 768px) {
    #nav-aside .nav-content {
      padding-top: 80px; }
      #nav-aside .nav-content .nav-header {
        padding: 17px 20px;
        height: 80px; }
        #nav-aside .nav-content .nav-header .logo img {
          width: 100px; }
        #nav-aside .nav-content .nav-header .btn-link {
          width: 22px;
          height: 22px;
          margin-top: 12px;
          background-size: 22px auto; }
      #nav-aside .nav-content .nav-body > ul > li > a {
        font-size: 18px;
        padding: 0 20px; }
        #nav-aside .nav-content .nav-body > ul > li > a:after {
          right: 20px; }
      #nav-aside .nav-content .nav-body > ul > li > ul > li > a {
        font-size: 15px;
        padding-left: 30px; } }

#footer {
  padding: 40px 0;
  background-color: #0d2557; }
  #footer .foot-logo img {
    width: 124px; }
  #footer .policy {
    margin: 25px 0; }
    #footer .policy > li {
      display: inline-block; }
      #footer .policy > li > a {
        font-size: 12px;
        color: #949ca0;
        line-height: 24px; }
        #footer .policy > li > a:hover, #footer .policy > li > a:focus {
          text-decoration: underline; }
      #footer .policy > li:after {
        position: relative;
        top: -1px;
        font-size: 10px;
        margin: 0 6px 0 9px;
        color: #949ca0;
        content: "|"; }
      #footer .policy > li:last-child:after {
        content: "";
        margin: 0; }
  #footer .company-info {
    font-size: 11px;
    color: #fff;
    font-family: 'Roboto', sans-serif; }
    #footer .company-info > ul > li {
      line-height: 22px; }
      #footer .company-info > ul > li a {
        color: #fff; }
    #footer .company-info p {
      color: #fff;
      line-height: 22px;
      line-height: 22px; }
      #footer .company-info p.site-by {
        font-weight: 500;
        color: #304673; }
        #footer .company-info p.site-by a {
          color: #304673; }
  @media (min-width: 768px) {
    #footer .foot-logo {
      padding-top: 8px; }
      #footer .foot-logo img {
        width: 169px; }
    #footer .policy {
      margin-top: 0;
      margin-bottom: 15px;
      margin-left: -20px; }
      #footer .policy > li > a {
        font-size: 13px; }
    #footer .company-info {
      font-size: 13px;
      margin-left: -20px; }
      #footer .company-info > ul {
        overflow: hidden; }
        #footer .company-info > ul > li {
          float: left;
          letter-spacing: -.3px; }
          #footer .company-info > ul > li ~ li {
            margin-left: 10px; }
          #footer .company-info > ul > li:nth-of-type(4) {
            clear: both;
            margin-left: 0; }
      #footer .company-info p {
        display: inline; } }
  @media (min-width: 1200px) {
    #footer {
      padding: 60px 0; }
      #footer .foot-logo {
        padding-top: 0; }
      #footer .policy {
        margin: 30px 0 25px !important; }
        #footer .policy > li > a {
          font-size: 13px; }
      #footer .company-info {
        margin-left: 0; }
        #footer .company-info > ul > li {
          letter-spacing: 0; }
          #footer .company-info > ul > li:nth-of-type(2) {
            clear: both;
            margin-left: 0; }
          #footer .company-info > ul > li:nth-of-type(4) {
            clear: none;
            margin-left: 10px; } }

.donation-information {
  padding: 30px 0;
  background-color: #eaeaee; }
  .donation-information ul li a {
    display: block;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #ccc; }
    .donation-information ul li a h3 {
      font-size: 13px;
      color: #666;
      font-weight: 400; }
    .donation-information ul li a p {
      font-size: 14px;
      color: #888;
      line-height: 20px;
      font-weight: 300; }
  .donation-information ul li ~ li a {
    margin-top: 10px; }
  .donation-information ul li:nth-of-type(2) a {
    margin-top: 0; }
  @media (min-width: 768px) {
    .donation-information ul li a {
      font-size: 15px;
      padding: 15px 0;
      margin-top: 0 !important; } }
  @media (min-width: 1200px) {
    .donation-information {
      padding: 40px 0; }
      .donation-information ul li a {
        text-align: left;
        border: 0;
        border-right: 1px solid #d2d6dd;
        padding: 10px 0; }
        .donation-information ul li a h3 {
          font-size: 18px;
          color: #333;
          margin-bottom: 20px; }
      .donation-information ul li:last-child a {
        border: 0; } }

.bank {
  overflow: hidden;
  color: #fff;
  padding-top: 55px; }
  .bank > div {
    float: left; }
    .bank > div.information {
      width: 330px; }
      .bank > div.information h3 {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 20px;
        padding-left: 30px;
        border-bottom: 1px solid #fff;
        background-image: url(/assets/images/icon_bank.png);
        background-repeat: no-repeat;
        background-position: 0 3px; }
      .bank > div.information p {
        font-size: 14px;
        line-height: 22px;
        margin-top: 20px;
        opacity: .5; }
      .bank > div.information strong {
        display: block;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px; }
    .bank > div.bank-details dl {
      overflow: hidden; }
      .bank > div.bank-details dl dt {
        font-size: 13px;
        color: #fff;
        font-weight: 300;
        opacity: .6;
        margin-bottom: 6px; }
      .bank > div.bank-details dl dd {
        font-size: 26px;
        color: #fff;
        font-weight: 500;
        margin-bottom: 30px;
        font-family: 'Roboto', sans-serif; }
        .bank > div.bank-details dl dd:last-child {
          margin-bottom: 0; }

#quick-top {
  display: none; }
  #quick-top .top {
    position: fixed;
    right: 50%;
    bottom: 80px;
    display: block;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    border-radius: 50%;
    padding: 3px 0;
    margin-right: -680px;
    background-color: #5e5e5f; }
    #quick-top .top:before {
      position: relative;
      top: 3px;
      display: block;
      margin: 0 auto;
      content: "\E807";
      font-family: "fontello"; }
  @media (min-width: 1200px) {
    #quick-top {
      display: block; } }

/*# sourceMappingURL=default.css.map */
