body {
  min-width: 320px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a {
  color: #666; }
  a:hover, a:focus {
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.donator .page-header {
  background-image: url(/assets/images/donator/bg_page_header.jpg); }
.donator .page-wrap .lnb-nav ul li {
  width: 33.33%; }
@media (min-width: 1200px) {
  .donator .page-wrap .lnb-nav ul li {
    width: 100%; } }

.donator-list .section-content p {
  font-size: 14px;
  line-height: 24px;
  color: #333; }
.donator-list .section-content .table-wrap {
  margin-top: 30px; }
  .donator-list .section-content .table-wrap .table thead tr th {
    font-size: 13px;
    font-weight: 500; }
  .donator-list .section-content .table-wrap .table tbody tr td {
    padding: 20px 0; }
.donator-list .section-content .paging {
  margin-top: 45px; }
.donator-list .section-content .search-form {
  margin-top: 45px; }
@media (min-width: 768px) {
  .donator-list .section-content p {
    font-size: 16px;
    line-height: 32px; }
  .donator-list .section-content .table-wrap .table thead tr th {
    padding: 20px 0;
    font-size: 16px; }
  .donator-list .section-content .paging {
    margin-top: 45px; } }
@media (min-width: 1200px) {
  .donator-list .section-content .table-wrap {
    margin-top: 45px; }
    .donator-list .section-content .table-wrap .table thead tr th:first-child {
      width: 100px; }
  .donator-list .section-content .paging {
    margin-top: 50px; } }

.donator-respect .section-content article .article-header > p {
  font-size: 15px;
  line-height: 28px;
  color: #333; }
  .donator-respect .section-content article .article-header > p ~ p {
    margin-top: 35px; }
.donator-respect .section-content article .article-header .respect-list {
  margin-top: 30px;
  padding: 30px 15px 35px;
  background-color: #f6f6f8;
  border: 1px solid #e1e1e1;
  border-radius: 10px; }
  .donator-respect .section-content article .article-header .respect-list h5 {
    display: inline-block;
    font-size: 15px;
    color: #1a49a0;
    line-height: 24px;
    border-bottom: 1px solid #889fcc; }
  .donator-respect .section-content article .article-header .respect-list ul {
    margin-top: 25px; }
    .donator-respect .section-content article .article-header .respect-list ul li {
      position: relative;
      font-size: 13px;
      line-height: 24px;
      color: #666;
      padding-left: 15px; }
      .donator-respect .section-content article .article-header .respect-list ul li:before {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        content: "\E808";
        font-size: 18px;
        font-family: "fontello";
        color: #1a49a0; }
      .donator-respect .section-content article .article-header .respect-list ul li ~ li {
        margin-top: 10px; }
.donator-respect .section-content article .article-content {
  margin-top: 40px; }
  .donator-respect .section-content article .article-content .table-responsive {
    margin-top: 20px; }
    .donator-respect .section-content article .article-content .table-responsive .table {
      min-width: 870px; }
      .donator-respect .section-content article .article-content .table-responsive .table tbody tr td {
        letter-spacing: -.7px;
        line-height: 25px; }
@media (min-width: 768px) {
  .donator-respect .section-content article .article-header > p {
    font-size: 16px;
    line-height: 32px; }
    .donator-respect .section-content article .article-header > p ~ p {
      margin-top: 30px; }
  .donator-respect .section-content article .article-header .respect-list {
    margin-top: 45px;
    padding: 30px 15px 30px 30px; }
    .donator-respect .section-content article .article-header .respect-list h5 {
      font-size: 16px;
      line-height: 32px; }
    .donator-respect .section-content article .article-header .respect-list ul li {
      font-size: 15px;
      line-height: 32px; }
      .donator-respect .section-content article .article-header .respect-list ul li ~ li {
        margin-top: 0; }
  .donator-respect .section-content article .article-content {
    margin-top: 60px; }
    .donator-respect .section-content article .article-content .table-responsive {
      margin-top: 30px; } }
@media (min-width: 1200px) {
  .donator-respect .section-content article .article-header .respect-list {
    padding: 30px 35px 30px 30px; }
    .donator-respect .section-content article .article-header .respect-list ul li {
      letter-spacing: -.5px; }
  .donator-respect .section-content article .article-content {
    margin-top: 90px; } }

.tax-favor .section-header {
  overflow: hidden; }
  .tax-favor .section-header .section-title {
    float: left;
    line-height: 38px; }
  .tax-favor .section-header .btn-receipt {
    float: right; }
    .tax-favor .section-header .btn-receipt p .btn-blue {
      width: 130px;
      height: 40px;
      font-size: 14px;
      line-height: 38px;
      color: #fff;
      text-align: center;
      background-color: #143883; }
@media (min-width: 768px) {
  .tax-favor .section-header .section-title {
    line-height: 48px; }
  .tax-favor .section-header .btn-receipt p .btn-blue {
    width: 170px;
    height: 50px;
    font-size: 16px;
    line-height: 48px; } }
.tax-favor .section-content .benefit-step .article-content > ul {
  margin-top: 40px; }
  .tax-favor .section-content .benefit-step .article-content > ul li {
    position: relative;
    text-align: center;
    padding-bottom: 70px; }
    .tax-favor .section-content .benefit-step .article-content > ul li:first-child > figure {
      margin-top: 0; }
    .tax-favor .section-content .benefit-step .article-content > ul li:last-child {
      padding-bottom: 0; }
      .tax-favor .section-content .benefit-step .article-content > ul li:last-child:after {
        display: none; }
    .tax-favor .section-content .benefit-step .article-content > ul li:after {
      position: absolute;
      bottom: 0;
      right: 50%;
      margin-right: -15px;
      display: block;
      content: "\E80C";
      font-family: "fontello";
      transform: rotate(90deg);
      margin-top: 30px;
      font-size: 40px;
      color: #95a1aa; }
    .tax-favor .section-content .benefit-step .article-content > ul li figure {
      margin-top: 30px; }
      .tax-favor .section-content .benefit-step .article-content > ul li figure img {
        width: 160px;
        height: 160px;
        margin: 0 auto; }
      .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption strong {
        display: block;
        font-size: 17px;
        color: #143883;
        font-weight: 400;
        margin-top: 20px; }
      .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption p {
        font-size: 14px;
        color: #555; }
      .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption dl {
        text-align: center; }
        .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption dl dt {
          display: inline;
          font-size: 14px;
          color: #555;
          font-weight: 300;
          letter-spacing: -.5px; }
          .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption dl dt:after {
            content: " : "; }
        .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption dl dd {
          display: inline;
          font-size: 14px;
          color: #555;
          line-height: 22px; }
          .tax-favor .section-content .benefit-step .article-content > ul li figure figcaption dl dd:after {
            display: block;
            content: ""; }
@media (min-width: 768px) {
  .tax-favor .section-content .benefit-step .article-content > ul {
    font-size: 0; }
    .tax-favor .section-content .benefit-step .article-content > ul li {
      display: inline-block;
      width: 33.33%;
      vertical-align: top;
      padding-bottom: 0; }
      .tax-favor .section-content .benefit-step .article-content > ul li:after {
        position: absolute;
        top: 55px;
        right: 0;
        margin-right: -15px;
        transform: rotate(0);
        margin-top: 0; }
      .tax-favor .section-content .benefit-step .article-content > ul li figure {
        margin-top: 0; } }
@media (min-width: 992px) {
  .tax-favor .section-content .benefit-step .article-content > ul li figure img {
    width: 170px;
    height: 170px; } }
.tax-favor .section-content .donors-list {
  margin-top: 90px; }
  .tax-favor .section-content .donors-list .article-content > ul {
    margin-top: 30px; }
    .tax-favor .section-content .donors-list .article-content > ul > li {
      margin-top: 30px; }
      .tax-favor .section-content .donors-list .article-content > ul > li:first-child {
        margin-top: 0; }
      .tax-favor .section-content .donors-list .article-content > ul > li dl dt {
        position: relative;
        font-size: 13px;
        color: #143883;
        font-weight: 400;
        line-height: 24px;
        padding-left: 15px; }
        .tax-favor .section-content .donors-list .article-content > ul > li dl dt:before {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          content: "\E808";
          font-size: 18px;
          font-family: "fontello";
          color: #1a49a0; }
      .tax-favor .section-content .donors-list .article-content > ul > li dl dd {
        padding-left: 15px;
        font-size: 13px;
        line-height: 26px;
        color: #555;
        margin-top: 10px;
        text-align: justify; }
@media (min-width: 768px) {
  .tax-favor .section-content .donors-list {
    margin-top: 70px; }
    .tax-favor .section-content .donors-list .article-content ul {
      margin-top: 40px; }
      .tax-favor .section-content .donors-list .article-content ul li dl dt {
        font-size: 16px; }
      .tax-favor .section-content .donors-list .article-content ul li dl dd {
        font-size: 16px; } }
@media (min-width: 992px) {
  .tax-favor .section-content .donors-list {
    margin-top: 100px; } }

/*# sourceMappingURL=donator.css.map */
