@import 'common';

//introduce page-header
.introduce {
    .page-header {
        background-image: url(/assets/images/introduce/bg_page_header.jpg);
    }
}

//인사말
.greeting {
    .section-content {
        article {
            .article-header {
                figure {
                    padding-top: 10px;
                    figcaption {
                        font-size: 20px;
                        line-height: 32px;
                        color: #333;
                        margin-top: 45px;
                        margin-bottom: 60px;
                        b {
                            color: #143883;
                            font-weight: 500;  
                        }
                    }
                }
            }
            .article-content {
                ul {
                    li {
                        padding-top: 50px;
                        &:nth-of-type(1) {
                            padding-top: 0;
                        }
                        h5 {
                            font-size: 18px;
                            color: #143883;
                            line-height: 30px;
                            letter-spacing: -1.2px;
                            &:before {
                                content: "";
                                display: block;
                                width: 45px;
                                height: 2px;
                                margin-bottom: 15px;
                                background-color: #143883;
                            }
                        }
                        p {
                            font-size: 13px;
                            line-height: 24px;
                            color: #555;
                            padding-top: 25px;

                        }
                    }
                }        
            }
        }
    }
    @media(min-width: $sm) {
        .section-content {
            article {
                .article-header {
                    figure {
                        font-size: 0;
                        padding-top: 0;
                        margin-bottom: 100px;
                        img {
                            display: inline-block;
                            width: 50%;
                        }
                        figcaption {
                            display: inline-block;
                            width: 50%;
                            font-size: 25px;
                            line-height: 45px;
                            letter-spacing: -1px;
                            vertical-align: middle;
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-left: 30px;

                        }
                    }
                }
                .article-content {
                    ul {
                        li {
                            padding-top: 90px;
                            &:nth-of-type(1) {
                                padding-top: 0;
                            }
                            h5 {
                                font-size: 20px;
                                letter-spacing: -1.2px;
                                margin-top: 10px;
                                &:before {
                                    content: "";
                                    display: block;
                                    width: 200px;
                                    margin-bottom: 20px;
                                }
                            }
                            p {
                                font-size: 15px;
                                line-height: 30px;
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        .section-content {
            article {
                .article-header {
                    figure {
                        img {
                            padding-right: 10px;
                        }
                        figcaption {
                            font-size: 28px;
                            line-height: 45px;
                            margin-top: 50px;
                            pading-left: 20px;
                        }
                    }
                }
                .article-content { 
                    ul {
                        li {
                            h5 {
                                letter-spacing: -2px;
                                &:before {
                                    width: 100%;
                                }
                            }
                            p {
                                padding-left: 60px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 기금용도
.usage {
    .section-content {
        .summary {
            h5 {
                font-size: 18px;
                line-height: 30px;
                color: #333;
                font-weight: 400;
                margin-bottom: 25px;
                i {
                    font-style: normal;
                    color: #143883;
                }
            }
            p {
                font-size: 13px;
                line-height: 28px;
                color: #555;
                &.emphasis {
                    font-size: 16px;
                    color: #333; 
                    line-height: 32px;
                    font-weight: 400;
                    padding-top: 30px;
                    margin-bottom: 25px;
                    span {
                        display: inline-block;
                        border-bottom: 1px solid #999;
                    }
                }
            }
        }
        @media(min-width: $sm) {
           .summary {
                h5 {
                    font-size: 32px;
                    line-height: 50px;
                    margin-bottom: 60px;
                }
                p {
                    font-size: 15px;
                    line-height: 30px;
                    &.emphasis {
                        font-size: 20px;
                        line-height: 38px;
                        padding-top: 45px;
                        margin-bottom: 35px;
                    }
                }
            } 
        }
        @media(min-width: $lg) {
           .summary {
                h5 {
                    font-size: 33px;
                    margin-bottom: 65px;
                }
                p {
                    font-size:  16px;
                    line-height: 32px;
                    &.emphasis {
                        font-size: 20px;
                        line-height: 38px;
                        padding-top: 45px;
                        margin-bottom: 35px;
                    }
                }
            } 
        }
        .fund-list {
            padding-top: 50px;
            ul {
                li {
                    figure {
                        border: 1px solid #ccc;
                        img {
                            width: 100%;
                        }
                        figcaption {
                            border-top: 1px solid #ccc;
                            height: 130px;
                            padding: 25px 30px 30px;
                            dl {
                                dt {
                                    font-size: 16px;
                                    color: #143883;
                                    font-weight: 500;
                                    padding-bottom: 20px;
                                }
                                dd {
                                    font-size: 13px;
                                    color: #555;
                                    line-height: 22px;
                                    letter-spacing: -.5px;
                                }
                            }   
                        }
                    }
                    & ~ li {
                        figure {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
        @media(min-width: $sm) {
            .fund-list {
                padding-top: 80px;
                ul {
                    li {
                        figure {
                            figcaption {
                                dl {
                                    dt {
                                        font-size: 17px;
                                    }
                                    dd {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        & ~ li {
                            figure {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }  
        }
        @media(min-width: $lg) {
            .fund-list {
                padding-top: 95px;
                ul {
                    li {
                        figure {
                            figcaption {
                                dl {
                                    dd {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }  
        }
    }
}



//faq
.faq {
    .section-content {
        article {
            .article-header {
                p {
                    font-size: 14px;
                    line-height: 26px;
                    color: #333;
                    font-weight: 300;
                    a {
                        color: #f4781f;
                    }
                }
            }
            .article-content {
                margin-top: 60px;
            }
        }
    }
    @media(min-width: $sm) {
        .section-content {
            article {
                .article-header {
                    p {
                        font-size: 16px;
                        line-height: 32px;
                    }
                }
                .article-content {
                    margin-top: 50px;
                }
            }
        } 
    }
    @media(min-width: $lg) {
        .section-content {
            article {
                .article-header {
                    p {
                        a {
                            cursor: auto;
                        }
                    }
                }
            }
        } 
    }
}

// 찾아오시는길
.directions {
    .section-content {
        .maps {
            border: 1px solid #dfdfdf;
        }
        .table-wrap {
            margin-top: 25px;
            .type-2 {
                tbody {
                    tr {
                        td {
                            > ul {
                                li {
                                    font-size: 12px;
                                    color: #666;
                                    a {
                                        color: #666;
                                    }
                                }
                            }
                            dl {
                                dt {
                                    font-size: 13px;
                                    color: #333;
                                    font-weight: 500;
                                    & ~ dt {
                                        margin-top: 30px;
                                    }
                                }
                                dd {
                                    font-size: 14px;
                                    color: #666;
                                    margin-top: 5px;
                                    > span {
                                        display: inline-block;
                                        width: 30px;
                                        height: 15px;
                                        font-size: 11px;
                                        color: #fff;
                                        line-height: 15px;
                                        text-align: center;
                                        margin-right: 5px;
                                        background-color: #395cb4;
                                    }
                                    > i {
                                        font-style: normal;
                                        color: #395cb4;
                                        font-weight: 500;
                                        @include roboto;
                                    }
                                    .subway {
                                        li {
                                            position: relative;
                                            font-size: 12px;
                                            line-height: 18px;
                                            margin-top: 5px;
                                            padding-left: 25px;
                                            > span {
                                                position: absolute;
                                                display: inline-block;
                                                top: 5px;
                                                left: 0;
                                                width: 18px;
                                                height: 18px;
                                                color: #fff;
                                                font-size: 10px;
                                                line-height: 20px;
                                                font-weight: 500;
                                                text-align: center;
                                                border-radius: 50%;
                                                background-color: #003499;
                                                @include roboto;
                                            }
                                            i {
                                                font-style: normal;
                                                font-size: 12px;
                                                font-weight: 500;
                                                line-height: 28px;
                                            }
                                            &.line-1 {
                                                > i {
                                                    color: #003499;
                                                }
                                            }
                                            &.line-6 {
                                                span {
                                                    background-color: #9a4e0f;
                                                }
                                                > i {
                                                    color: #9a4e0f;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: $sm) {
            .table-wrap {
                margin-top: 30px;
                .type-2 {
                    tbody {
                        tr {
                            td {
                                > ul {
                                    li {
                                        display: inline-block;
                                        font-size: 14px;
                                        margin-right: 15px;
                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }
                                dl {
                                    dt {
                                        font-size: 14px;
                                        & ~ dt {
                                            margin-top: 35px;
                                        }
                                    }
                                    dd {
                                        font-size: 14px;
                                        .subway {
                                            li {
                                                font-size: 14px;
                                                line-height: 28px;
                                                i {
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        @media(min-width: $lg) {
            .table-wrap {
                .type-2 {
                    tbody {
                        tr {
                            td {
                                > ul {
                                    li {
                                        a {
                                            cursor: auto;   
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




































