@import 'common';

.jumbotron {
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none !important;
    ul {
        li {
            display: block;
            text-align: center;
            padding: 120px 0;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            h2 {
                display: block;
                font-size: 32px;
                color: #fff;
                font-weight: 500;
                small {
                    font-size: 17px;
                    color: #fff;
                    font-weight: 300;
                    display: block;
                    margin-bottom: 10px;
                }
            }
            hr {
                margin: 25px auto;
                width: 30px;
                border-top: 2px solid #bf4b46;
            }
            p {
                @include roboto();
                font-size: 12px;
                color: #fff;
                font-weight: 300;
                line-height: 18px;
                font-style: italic;
            }
            @media (min-width: $sm) {
                padding: 220px 0 230px;
                h2 {
                    font-size: 70px;
                    small {
                        font-size: 36px;
                        margin-bottom: 30px;
                    }
                }
                hr {
                    margin: 40px auto;
                }
                p {
                    font-size: 15px;
                    line-height: 22px;
                }
            }
            @media (min-width: $lg) {
                padding: 150px 0 160px;
                h2 {
                    font-size: 65px;
                    small {
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                }
                hr {
                    margin: 30px auto;
                }
            }
        }
    }
    .bx-controls {
        .bx-controls-direction {
            display: none;
        }
        .bx-pager {
            position: absolute;
            bottom: 20px;
            height: 12px;
            width: 100%;
            text-align: center;
            .bx-pager-item {
                display: inline-block;
                text-indent: -9999px;
                margin: 0 5px;
                > a {
                    display: block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    border: 1px solid #d9d9d8;
                    &.active {
                        background-color: #d9d9d8;
                    }
                }
            }
        }
        @media(min-width: $sm) {
            .bx-pager { 
                bottom: 30px;
                height: 18px;
                .bx-pager-item {
                    > a {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
        @media(min-width: $lg) {
            .bx-controls-direction {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 1290px;
                margin-top: -23px;
                margin-left: -645px;
                overflow: hidden;
                display: block;
                > a {
                    font-size: 45px;
                    color: rgba(255, 255, 255, .4);
                    @include transition();
                    i {
                        &:before {
                            margin: 0;
                        }
                    }
                    &.bx-prev {
                        float: left;
                    }
                    &.bx-next {
                        float: right;
                    }
                    &:hover, &:focus {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.gift-participation {
    padding: 30px 0;
    ul {
        > li {
            .details {
                display: table;
                width: 100%;
                text-align: center;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
                .vertical-box {
                    display: table-cell;
                    height: 235px;
                    vertical-align: middle;
                    .icon-img {
                        display: none;
                    }
                    h3 {
                        font-size: 22px;
                        font-weight: 500;
                        color: #fff;
                        small {
                            font-size: 15px;
                            color: #fff;
                            font-weight: 300;
                            display: block;
                            margin-top: 15px;
                        }
                    }
                    > .btn-link {
                        display: inline-block;
                        width: 170px;
                        height: 40px;
                        font-size: 13px;
                        font-weight: 300;
                        line-height: 36px;
                        color: #fff;
                        text-align: left;
                        margin-top: 30px;
                        padding: 0 14px;
                        border: 2px solid #fff;
                        text-decoration: none;
                        &:after {
                            font-family: "fontello";
                            float: right;
                            content: "\E805";
                        }
                    }
                }
                &.method {
                    background-image: url(/assets/images/main/bg_gift_xs_participation01.jpg);
                }
                &.participation {
                    background-image: url(/assets/images/main/bg_gift_xs_participation02.jpg);
                }
                &.online {
                    background-image: url(/assets/images/main/bg_gift_xs_participation03.jpg);
                }
            }
            & ~ li {
                .details {
                    margin-top: 10px;
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding: 30px 0;
        ul {
            > li {
                & ~ li {
                    .details {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    @media(min-width: $md) {
        padding: 60px 0;
        ul { 
            > li {
                .details {
                    margin: 0 !important;
                    .vertical-box {
                        @include transition();
                        .icon-img {
                            display: block;
                            margin-bottom: 25px;
                            img {
                                display: block;
                                margin: 0 auto;
                            }
                        }
                        h3 {
                            font-size: 20px;
                            small {
                                margin-top: 10px;
                            }
                        }
                        .btn-link {
                            display: none;
                        }
                        &:hover {
                            background-color: rgba(147, 167, 199, .85);
                            box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.2);
                            .icon-img {
                                display: none;
                            }
                            .btn-link {
                                display: block;
                                margin: 0 auto;
                                margin-top: 30px;
                            }
                        }
                    }
                    &.method {
                        background-image: url(/assets/images/main/bg_gift_lg_participation01.jpg);
                    }
                    &.participation {
                        background-image: url(/assets/images/main/bg_gift_lg_participation02.jpg);
                    }
                    &.online {
                        background-image: url(/assets/images/main/bg_gift_lg_participation03.jpg);
                    }
                }
            }
        }
    }
}

// 소개
.introduce {
    color: #fff;
    text-align: center;
    padding: 76px 0;
    background-image: url(/assets/images/main/bg_introduce.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    small {
        display: block;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 30px;
        font-weight: 300;
        line-height: 38px;
    }
    p {
        font-style: italic;
        font-weight: 300;
        line-height: 22px;
        margin-top: 40px;
        @include roboto();
    }
    @media(min-width: $sm) {
        padding: 100px 0;
        background-position: 60% 50%;
        small {
            font-size: 24px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 50px;
            strong {
                font-size: 52px;
            }
        }
        p {
            font-size: 14px;
        }
    }
    @media(min-width: $md) {
        padding: 96px 0;
        background-position: 50% 50%;
    }
}

// 소식
.notice {
    padding: 60px 0;
    .section-header {
        text-align: center;
        padding-bottom: 40px;
        h3 {
            font-size: 24px;
            color: #333;
            font-weight: bold;
            @include roboto();
        }
    }
    .section-content {
        ul {
            li {
                a {
                    display: block;
                    figure {
                        figcaption {
                            padding-bottom: 20px;
                            b {
                                display: block;
                                font-size: 36px;
                                color: #d0d0d0;
                                @include roboto();
                                margin-bottom: 10px;
                            }
                            p {
                                display: block;
                                font-size: 14px;
                                color: #666;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-bottom: 15px;
                            }
                            .date {
                                font-size: 13px;
                                color: #aaa;
                                @include roboto();
                            }
                        }
                        .img-responsive {
                            width: 100%;
                        }
                    }
                }
                & ~ li {
                    a {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        padding-bottom: 80px;
        .section-header {
            padding-bottom: 50px;
            h3 {
                font-size: 35px;
            }
        }
        .section-content {
            ul {
                li {
                    a {
                        figure {
                            figcaption {
                                padding-bottom: 30px;
                                b {
                                    font-size: 45px;
                                }
                                p {
                                    font-size: 16px;
                                    margin-bottom: 25px;
                                }
                            }
                        }
                    }
                    & ~ li {
                        a {
                            margin-top: 60px;
                        }
                    }
                    &:nth-of-type(2) {
                        a {
                            margin-top: 0;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $lg) {
        .section-header {
            padding-bottom: 60px;
        }
        .section-content {
            ul {
                li {
                    a {
                        figure {
                            figcaption {
                                padding-bottom: 40px;
                            }
                        }
                    }
                    & ~ li {
                        a {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}

































