body {
  min-width: 320px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a {
  color: #666; }
  a:hover, a:focus {
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.jumbotron .bx-controls .bx-controls-direction {
  z-index: 50; }

.jumbotron .bx-controls .bx-pager {
  z-index: 50; }

.jumbotron ul li div.figure {
  margin-top: -370px;
  height: 370px;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  @media (min-width: 768px) {
    .jumbotron ul li div.figure {
      margin-top: -700px;
      height: 700px; } }
  @media (min-width: 1200px) {
    .jumbotron ul li div.figure {
      margin-top: -523px;
      height: 523px; } }

.jumbotron ul li.active div.figure {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }

.jumbotron {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: none !important; }
  .jumbotron ul li {
    display: block;
    text-align: center;
    padding: 120px 0;
    height: 370px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .jumbotron ul li h2 {
      display: block;
      font-size: 32px;
      color: #fff;
      font-weight: 500;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.9s;
      transition-duration: 0.9s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      transform: scale(0);
      -ms-transform: scale(0); }
      .jumbotron ul li h2 small {
        font-size: 17px;
        color: #fff;
        font-weight: 300;
        display: block;
        margin-top: 10px; }
    .jumbotron ul li hr {
      margin: 25px auto;
      width: 30px;
      border-top: 2px solid #bf4b46;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.9s;
      transition-duration: 0.9s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      transform: scale(0);
      -ms-transform: scale(0); }
    .jumbotron ul li p {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      color: #fff;
      font-weight: 300;
      line-height: 18px;
      font-style: italic;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.9s;
      transition-duration: 0.9s;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      transform: scale(0);
      -ms-transform: scale(0); }
    .jumbotron ul li.active h2 {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }
    .jumbotron ul li.active hr {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }
    .jumbotron ul li.active p {
      -ms-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1); }
    @media (min-width: 768px) {
      .jumbotron ul li {
        height: 700px;
        padding: 220px 0 230px; }
        .jumbotron ul li h2 {
          font-size: 70px; }
          .jumbotron ul li h2 small {
            font-size: 36px;
            margin-top: 30px; }
        .jumbotron ul li hr {
          margin: 40px auto; }
        .jumbotron ul li p {
          font-size: 15px;
          line-height: 22px; } }
    @media (min-width: 1200px) {
      .jumbotron ul li {
        height: 523px;
        padding: 150px 0 160px; }
        .jumbotron ul li h2 {
          font-size: 65px; }
          .jumbotron ul li h2 small {
            font-size: 30px;
            margin-top: 20px; }
        .jumbotron ul li hr {
          margin: 30px auto; } }
  .jumbotron .bx-controls .bx-controls-direction {
    display: none; }
  .jumbotron .bx-controls .bx-pager {
    position: absolute;
    bottom: 20px;
    height: 12px;
    width: 100%;
    text-align: center; }
    .jumbotron .bx-controls .bx-pager .bx-pager-item {
      display: inline-block;
      text-indent: -9999px;
      margin: 0 5px; }
      .jumbotron .bx-controls .bx-pager .bx-pager-item > a {
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid #d9d9d8; }
        .jumbotron .bx-controls .bx-pager .bx-pager-item > a.active {
          background-color: #d9d9d8; }
  @media (min-width: 768px) {
    .jumbotron .bx-controls .bx-pager {
      bottom: 30px;
      height: 18px; }
      .jumbotron .bx-controls .bx-pager .bx-pager-item > a {
        width: 18px;
        height: 18px; } }
  @media (min-width: 1200px) {
    .jumbotron .bx-controls .bx-controls-direction {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1290px;
      margin-top: -23px;
      margin-left: -645px;
      overflow: hidden;
      display: block; }
      .jumbotron .bx-controls .bx-controls-direction > a {
        font-size: 45px;
        color: rgba(255, 255, 255, 0.4);
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        -webkit-transition-delay: 0s;
        transition-delay: 0s; }
        .jumbotron .bx-controls .bx-controls-direction > a i:before {
          margin: 0; }
        .jumbotron .bx-controls .bx-controls-direction > a.bx-prev {
          float: left; }
        .jumbotron .bx-controls .bx-controls-direction > a.bx-next {
          float: right; }
        .jumbotron .bx-controls .bx-controls-direction > a:hover, .jumbotron .bx-controls .bx-controls-direction > a:focus {
          color: #fff; } }

.gift-participation {
  padding: 30px 0; }
  .gift-participation ul > li .details {
    display: table;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; }
    .gift-participation ul > li .details .vertical-box {
      display: table-cell;
      height: 235px;
      vertical-align: middle; }
      .gift-participation ul > li .details .vertical-box .icon-img {
        display: none; }
      .gift-participation ul > li .details .vertical-box h3 {
        font-size: 22px;
        font-weight: 500;
        color: #fff; }
        .gift-participation ul > li .details .vertical-box h3 small {
          font-size: 15px;
          color: #fff;
          font-weight: 300;
          display: block;
          margin-top: 15px; }
      .gift-participation ul > li .details .vertical-box > .btn-link {
        display: inline-block;
        width: 170px;
        height: 40px;
        font-size: 13px;
        font-weight: 300;
        line-height: 36px;
        color: #fff;
        text-align: left;
        margin-top: 30px;
        padding: 0 14px;
        border: 2px solid #fff;
        text-decoration: none; }
        .gift-participation ul > li .details .vertical-box > .btn-link:after {
          font-family: "fontello";
          float: right;
          content: "\E805"; }
    .gift-participation ul > li .details.method {
      background-image: url(/assets/images/main/bg_gift_xs_participation01.jpg); }
    .gift-participation ul > li .details.participation {
      background-image: url(/assets/images/main/bg_gift_xs_participation02.jpg); }
    .gift-participation ul > li .details.online {
      background-image: url(/assets/images/main/bg_gift_xs_participation03.jpg); }
  .gift-participation ul > li ~ li .details {
    margin-top: 10px; }
  @media (min-width: 768px) {
    .gift-participation {
      padding: 30px 0; }
      .gift-participation ul > li ~ li .details {
        margin-top: 20px; } }
  @media (min-width: 992px) {
    .gift-participation {
      padding: 60px 0; }
      .gift-participation ul > li .details {
        margin: 0 !important; }
        .gift-participation ul > li .details .vertical-box {
          -webkit-transition-property: all;
          transition-property: all;
          -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
          -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
          -webkit-transition-delay: 0s;
          transition-delay: 0s; }
          .gift-participation ul > li .details .vertical-box .icon-img {
            display: block;
            margin-bottom: 25px; }
            .gift-participation ul > li .details .vertical-box .icon-img img {
              display: block;
              margin: 0 auto; }
          .gift-participation ul > li .details .vertical-box h3 {
            font-size: 20px; }
            .gift-participation ul > li .details .vertical-box h3 small {
              margin-top: 10px; }
          .gift-participation ul > li .details .vertical-box .btn-link {
            display: none; }
          .gift-participation ul > li .details .vertical-box:hover {
            background-color: rgba(147, 167, 199, 0.85);
            box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.2); }
            .gift-participation ul > li .details .vertical-box:hover .icon-img {
              display: none; }
            .gift-participation ul > li .details .vertical-box:hover .btn-link {
              display: block;
              margin: 0 auto;
              margin-top: 30px; }
        .gift-participation ul > li .details.method {
          background-image: url(/assets/images/main/bg_gift_lg_participation01.jpg); }
        .gift-participation ul > li .details.participation {
          background-image: url(/assets/images/main/bg_gift_lg_participation02.jpg); }
        .gift-participation ul > li .details.online {
          background-image: url(/assets/images/main/bg_gift_lg_participation03.jpg); } }

.introduce {
  color: #fff;
  text-align: center;
  padding: 76px 0;
  background-image: url(/assets/images/main/bg_introduce.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: auto 800px; }
  .introduce small {
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px; }
  .introduce h3 {
    font-size: 30px;
    font-weight: 300;
    line-height: 38px; }
  .introduce p {
    font-style: italic;
    font-weight: 300;
    line-height: 22px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif; }
  @media (min-width: 768px) {
    .introduce {
      padding: 100px 0;
      background-position: 60% 50%; }
      .introduce small {
        font-size: 24px;
        margin-bottom: 15px; }
      .introduce h3 {
        font-size: 50px; }
        .introduce h3 strong {
          font-size: 52px; }
      .introduce p {
        font-size: 14px; } }
  @media (min-width: 992px) {
    .introduce {
      padding: 96px 0;
      background-position: 50% 50%; } }

.notice {
  padding: 60px 0; }
  .notice .section-header {
    text-align: center;
    padding-bottom: 40px; }
    .notice .section-header h3 {
      font-size: 24px;
      color: #333;
      font-weight: bold;
      font-family: 'Roboto', sans-serif; }
  .notice .section-content ul li a {
    display: block; }
    .notice .section-content ul li a figure figcaption {
      padding-bottom: 20px; }
      .notice .section-content ul li a figure figcaption b {
        display: block;
        font-size: 36px;
        color: #d0d0d0;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px; }
      .notice .section-content ul li a figure figcaption p {
        display: block;
        font-size: 14px;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 15px; }
      .notice .section-content ul li a figure figcaption .date {
        font-size: 13px;
        color: #aaa;
        font-family: 'Roboto', sans-serif; }
    .notice .section-content ul li a figure .img-responsive {
      width: 100%; }
  .notice .section-content ul li ~ li a {
    margin-top: 30px; }
  @media (min-width: 768px) {
    .notice {
      padding-bottom: 80px; }
      .notice .section-header {
        padding-bottom: 50px; }
        .notice .section-header h3 {
          font-size: 35px; }
      .notice .section-content ul li a figure figcaption {
        padding-bottom: 30px; }
        .notice .section-content ul li a figure figcaption b {
          font-size: 45px; }
        .notice .section-content ul li a figure figcaption p {
          font-size: 16px;
          margin-bottom: 25px; }
      .notice .section-content ul li ~ li a {
        margin-top: 60px; }
      .notice .section-content ul li:nth-of-type(2) a {
        margin-top: 0; } }
  @media (min-width: 1200px) {
    .notice .section-header {
      padding-bottom: 60px; }
    .notice .section-content ul li a figure figcaption {
      padding-bottom: 40px; }
    .notice .section-content ul li ~ li a {
      margin-top: 0px; } }

/*# sourceMappingURL=main.css.map */
