body {
  min-width: 320px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a {
  color: #666; }
  a:hover, a:focus {
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

.member .page-header {
  background-image: url(/assets/images/member/bg_page_header.jpg); }
.member .lnb-nav ul li {
  width: 50%; }
  @media (min-width: 1200px) {
    .member .lnb-nav ul li {
      width: 100%; } }

.inquiry-list .section-content .table-wrap .table thead tr th:nth-of-type(1) {
  display: none; }
.inquiry-list .section-content .table-wrap .table thead tr th:nth-of-type(3) {
  width: 100px; }
.inquiry-list .section-content .table-wrap .table thead tr th:nth-of-type(4) {
  display: none; }
.inquiry-list .section-content .table-wrap .table tbody tr td:nth-of-type(1) {
  display: none; }
.inquiry-list .section-content .table-wrap .table tbody tr td:nth-of-type(4) {
  display: none; }
.inquiry-list .section-content .btn-area {
  margin-top: 20px; }
.inquiry-list .section-content .paging {
  margin: 20px 0 40px; }
@media (min-width: 768px) {
  .inquiry-list .section-content .table-wrap .table thead tr th:nth-of-type(1) {
    display: table-cell;
    width: 80px; }
  .inquiry-list .section-content .table-wrap .table thead tr th:nth-of-type(3) {
    width: 130px; }
  .inquiry-list .section-content .table-wrap .table thead tr th:nth-of-type(4) {
    display: table-cell;
    width: 100px; }
  .inquiry-list .section-content .table-wrap .table tbody tr td:nth-of-type(1) {
    display: table-cell; }
  .inquiry-list .section-content .table-wrap .table tbody tr td:nth-of-type(4) {
    display: table-cell; }
  .inquiry-list .section-content .btn-area {
    margin-top: 30px; }
  .inquiry-list .section-content .paging {
    margin: 30px 0 55px; } }
@media (min-width: 992px) {
  .inquiry-list .section-content .paging {
    margin: 20px 0 50px; } }

.breakdown .section-content {
  margin-top: 55px; }
  .breakdown .section-content .identification {
    text-align: center; }
    .breakdown .section-content .identification .article-header figure {
      margin-bottom: 40px; }
      .breakdown .section-content .identification .article-header figure img {
        display: block;
        margin: 0 auto;
        width: 78px; }
    .breakdown .section-content .identification .article-header h5 {
      font-size: 18px;
      color: #111;
      font-weight: 500;
      margin-bottom: 30px; }
    .breakdown .section-content .identification .article-header p {
      font-size: 13px;
      color: #666;
      line-height: 22px;
      word-break: keep-all; }
      .breakdown .section-content .identification .article-header p.attention {
        color: #e46b6b; }
        .breakdown .section-content .identification .article-header p.attention:before {
          content: "* "; }
    .breakdown .section-content .identification .article-content {
      width: 300px;
      margin: 0 auto;
      margin-top: 30px; }
      .breakdown .section-content .identification .article-content .form-group .form-control ~ .form-control {
        margin-top: 10px; }
      .breakdown .section-content .identification .article-content .btn-area {
        margin-top: 20px;
        text-align: center; }
        .breakdown .section-content .identification .article-content .btn-area p .btn {
          height: 40px;
          line-height: 40px; }
@media (min-width: 768px) {
  .breakdown .section-content {
    margin-top: 90px;
    padding-bottom: 60px; }
    .breakdown .section-content .identification .article-header figure {
      margin-bottom: 40px; }
      .breakdown .section-content .identification .article-header figure img {
        width: 90px; }
    .breakdown .section-content .identification .article-header h5 {
      font-size: 22px; }
    .breakdown .section-content .identification .article-header p {
      font-size: 15px;
      line-height: 24px; }
    .breakdown .section-content .identification .article-content {
      width: 330px;
      margin: 0 auto;
      margin-top: 30px; }
      .breakdown .section-content .identification .article-content .form-group .form-control ~ .form-control {
        margin-top: 10px; }
      .breakdown .section-content .identification .article-content .btn-area {
        margin-top: 20px;
        text-align: center; }
        .breakdown .section-content .identification .article-content .btn-area p .btn {
          width: 130px; } }

.inquiry-view .section-content .board-view .reply {
  margin-top: 30px; }
.inquiry-view .section-content .board-view .btn-responsive {
  margin-top: 35px; }
.inquiry-view .section-content .board-view .page-link {
  margin-top: 50px; }
@media (min-width: 768px) {
  .inquiry-view .section-content .board-view .btn-responsive {
    margin-top: 30px; }
  .inquiry-view .section-content .board-view .page-link {
    margin-top: 60px; } }

.inquiry-write .section-content .table-wrap .table tbody tr th {
  font-weight: 400;
  padding: 10px;
  vertical-align: middle; }
  .inquiry-write .section-content .table-wrap .table tbody tr th.v-top {
    padding-top: 20px;
    vertical-align: top; }
.inquiry-write .section-content .table-wrap .table tbody tr td {
  padding: 10px; }
  .inquiry-write .section-content .table-wrap .table tbody tr td .form-group .form-control {
    color: #666; }
    .inquiry-write .section-content .table-wrap .table tbody tr td .form-group .form-control ~ .form-control {
      margin-top: 10px; }
  .inquiry-write .section-content .table-wrap .table tbody tr td .form-group textarea {
    height: 190px !important; }
  .inquiry-write .section-content .table-wrap .table tbody tr td.attach .form-group {
    position: relative;
    padding-right: 80px; }
    .inquiry-write .section-content .table-wrap .table tbody tr td.attach .form-group label {
      position: absolute;
      top: 0;
      right: 0;
      width: 70px;
      height: 34px;
      font-size: 13px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;
      border: 1px solid #dfdfdf;
      background-color: #f6f6f8; }
.inquiry-write .section-content .btn-area {
  margin-top: 30px; }
@media (min-width: 768px) {
  .inquiry-write .section-content .table-wrap .table tbody tr:nth-of-type(1) th.v-top {
    padding-top: 0;
    vertical-align: middle; }
  .inquiry-write .section-content .table-wrap .table tbody tr th {
    padding-left: 20px; }
  .inquiry-write .section-content .table-wrap .table tbody tr td {
    padding-left: 30px;
    padding-right: 30px; }
    .inquiry-write .section-content .table-wrap .table tbody tr td .form-group .form-control {
      color: #666; }
      .inquiry-write .section-content .table-wrap .table tbody tr td .form-group .form-control ~ .form-control {
        margin-top: 10px; }
    .inquiry-write .section-content .table-wrap .table tbody tr td .form-group textarea {
      height: 360px !important; }
    .inquiry-write .section-content .table-wrap .table tbody tr td.subject .form-group {
      position: relative;
      padding-left: 170px; }
      .inquiry-write .section-content .table-wrap .table tbody tr td.subject .form-group select {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px; }
    .inquiry-write .section-content .table-wrap .table tbody tr td.attach .form-group {
      padding-right: 120px; }
      .inquiry-write .section-content .table-wrap .table tbody tr td.attach .form-group label {
        width: 110px; }
  .inquiry-write .section-content .btn-area {
    margin-top: 40px; } }

.agreement .section-content .terms {
  height: 380px;
  font-size: 13px;
  line-height: 22px;
  color: #666;
  overflow-y: scroll;
  padding: 30px;
  border: 1px solid #dfdfdf;
  background-color: #f6f6f8; }
@media (min-width: 768px) {
  .agreement .section-content .terms {
    font-size: 14px; } }

.privacy .section-content .terms {
  height: 380px;
  font-size: 13px;
  line-height: 22px;
  color: #666;
  overflow-y: scroll;
  padding: 30px;
  border: 1px solid #dfdfdf;
  background-color: #f6f6f8; }
@media (min-width: 768px) {
  .privacy .section-content .terms {
    font-size: 14px; } }

/*# sourceMappingURL=member.css.map */
