@import 'common';

// 공통
.member {
    .page-header {
        background-image: url(/assets/images/member/bg_page_header.jpg);
    }
    .lnb-nav {
        ul {
            li {
                width: 50%;
                @media(min-width: $lg) {
                    width: 100%;
                }
            }
        }
    }
}

// 기부금 내역조회
.inquiry-list {
    .section-content {
        .table-wrap {
            .table {
                thead {
                    tr {
                        th {
                            &:nth-of-type(1) {
                                display: none;
                            }
                            &:nth-of-type(2) {
                                
                            }
                            &:nth-of-type(3) {
                                width: 100px;
                            }
                            &:nth-of-type(4) {
                                display: none;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            &:nth-of-type(1) {
                                display: none;
                            }
                            &:nth-of-type(2) {
                                
                            }
                            &:nth-of-type(3) {
                                
                            }
                            &:nth-of-type(4) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .paging {
            margin: 40px 0;
        }
    }
    @media(min-width: $sm) {
        .section-content {
            .table-wrap {
                .table {
                    thead {
                        tr {
                            th {
                                &:nth-of-type(1) {
                                    display: table-cell;
                                    width: 80px;
                                }
                                &:nth-of-type(2) {

                                }
                                &:nth-of-type(3) {
                                    width: 130px;
                                }
                                &:nth-of-type(4) {
                                    display: table-cell;
                                    width: 100px;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                &:nth-of-type(1) {
                                    display: table-cell;
                                }
                                &:nth-of-type(2) {

                                }
                                &:nth-of-type(3) {

                                }
                                &:nth-of-type(4) {
                                    display: table-cell;
                                }
                            }
                        }
                    }
                }
            }
            .paging {
                margin: 60px 0 55px;
            }
        }
    }
    @media(min-width: $md) {
        .section-content {
            .paging {
                margin: 50px 0;
            }
        }
    }
}


// 내역조회
.breakdown {
    .section-content {
        margin-top: 55px;
        .identification {
            text-align: center;
            .article-header {
                figure {
                    margin-bottom: 40px;
                    img {
                        display: block;
                        margin: 0 auto;
                        width: 78px;
                    }
                }
                h5 {
                    font-size: 18px;
                    color: #111;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 13px;
                    color: #666;
                    line-height: 22px;
                    word-break: keep-all;
                    &.attention {
                        color: #e46b6b;
                        &:before {
                            content: "* ";
                        }
                    }
                }
            }
            .article-content {
                width: 300px;
                margin: 0 auto;
                margin-top: 30px;
                .form-group {
                    .form-control {
                        & ~ .form-control {
                            margin-top: 10px;
                        }
                    }
                }
                .btn-area {
                    margin-top: 20px;
                    text-align: center;
                    p {
                        .btn {
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: $sm) {
        .section-content {
            margin-top: 90px;
            padding-bottom: 60px;
            .identification {
                .article-header {
                    figure {
                        margin-bottom: 40px;
                        img {
                            width: 90px;
                        }
                    }
                    h5 {
                        font-size: 22px;
                    }
                    p {
                        font-size: 15px;
                        line-height: 24px;
                    }
                }
                .article-content {
                    width: 330px;
                    margin: 0 auto;
                    margin-top: 30px;
                    .form-group {
                        .form-control {
                            & ~ .form-control {
                                margin-top: 10px;
                            }
                        }
                    }
                    .btn-area {
                        margin-top: 20px;
                        text-align: center;
                        p {
                            .btn {
                                width: 130px;
                            }
                        }
                    }
                }
            }
        }
    }
}



























