body {
  min-width: 320px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a:hover, a:focus {
  text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

#header {
  border-bottom: 2px solid #004f97; }

#content {
  padding-bottom: 80px; }
  #content .container-fluid {
    max-width: 1200px; }
  @media (min-width: 768px) {
    #content {
      padding-bottom: 120px; } }
  @media (min-width: 992px) {
    #content {
      padding-bottom: 150px; } }

.page-header {
  color: #fff;
  margin: 0;
  padding: 45px 0;
  border: 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/assets/images/sub/bg_page_header.jpg); }
  .page-header .page-title {
    font-size: 34px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; }
  .page-header .breadcrumb {
    font-size: 0;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    background: none; }
    .page-header .breadcrumb > li {
      font-size: 12px;
      color: #fff; }
      .page-header .breadcrumb > li:before {
        padding: 0 10px;
        content: "\E805";
        font-family: "fontello"; }
      .page-header .breadcrumb > li:first-child:before {
        display: none; }
      .page-header .breadcrumb > li > a {
        color: #fff; }
        .page-header .breadcrumb > li > a .icon-home {
          position: relative;
          top: -1px; }
  @media (min-width: 768px) {
    .page-header {
      padding: 85px 0 60px; }
      .page-header .page-title {
        font-size: 48px; }
      .page-header .breadcrumb > li {
        font-size: 15px; } }

.page-warp .lnb-nav {
  margin: 0 -10px; }
  .page-warp .lnb-nav ul {
    width: 100%;
    font-size: 0; }
    .page-warp .lnb-nav ul li {
      display: inline-block;
      width: 25%; }
      .page-warp .lnb-nav ul li a {
        display: block;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        padding: 15px 0;
        text-align: center;
        background-color: #143883;
        border-right: 1px solid #5b74a8; }
      .page-warp .lnb-nav ul li.active a {
        color: #143883;
        background-color: #fff; }
      .page-warp .lnb-nav ul li:last-child a {
        border-right: 0; }
.page-warp .sub-content {
  padding-top: 50px; }
@media (min-width: 768px) {
  .page-warp .lnb-nav {
    margin: 0 -20px; }
    .page-warp .lnb-nav ul li a {
      padding: 17px 0;
      font-size: 17px; }
  .page-warp .sub-content {
    padding-top: 85px; } }
@media (min-width: 1200px) {
  .page-warp {
    padding-top: 50px; }
    .page-warp .lnb-nav {
      margin: 0;
      padding-right: 40px; }
      .page-warp .lnb-nav .lnb-title {
        font-size: 28px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        padding: 35px 0 25px;
        background-color: #143883; }
        .page-warp .lnb-nav .lnb-title small {
          font-size: 12px;
          color: #2364e4;
          display: block;
          margin-top: 10px; }
      .page-warp .lnb-nav ul {
        border: 1px solid #ccc; }
        .page-warp .lnb-nav ul li {
          display: block;
          width: 100%; }
          .page-warp .lnb-nav ul li a {
            text-align: left;
            font-size: 15px;
            color: #666;
            padding: 20px;
            border-right: 0;
            background-color: #fff;
            border-bottom: 1px solid #ccc; }
            .page-warp .lnb-nav ul li a:after {
              position: relative;
              top: 2px;
              font-size: 13px;
              float: right;
              font-family: "fontello";
              content: "\E800"; }
          .page-warp .lnb-nav ul li.active a {
            color: #143883;
            background-color: #eaeaee; }
          .page-warp .lnb-nav ul li:last-child a {
            border-bottom: 0; }
    .page-warp .sub-content {
      padding-top: 20px; } }

.form-group {
  margin: 0; }

label {
  font-weight: 400; }

.form-control {
  font-size: 13px;
  border-radius: 0;
  box-shadow: none !important;
  border: 1px solid #dee1e2; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover, .btn:focus {
    opacity: .7; }

section .section-header {
  padding-bottom: 25px;
  border-bottom: 3px solid #eaeaee; }
  section .section-header .section-title {
    font-size: 22px;
    color: #143883;
    font-weight: bold; }
section .section-content {
  margin-top: 30px; }
@media (min-width: 768px) {
  section .section-header {
    padding-bottom: 30px; }
    section .section-header .section-title {
      font-size: 32px; }
  section .section-content {
    margin-top: 60px; } }
@media (min-width: 992px) {
  section .section-header .section-title {
    font-size: 36px; }
  section .section-content {
    margin-top: 65px; } }

.section-content .fund-application h5 {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 35px; }
  .section-content .fund-application h5 i {
    color: #143883;
    font-style: normal; }
.section-content .fund-application p {
  font-size: 13px;
  line-height: 28px;
  color: #555;
  word-break: break-all; }
  .section-content .fund-application p.note {
    display: block;
    font-sizs: 16px;
    color: #333;
    line-height: 32px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 40px; }
    .section-content .fund-application p.note span {
      padding-bottom: 7px;
      border-bottom: 1px solid #333; }
@media (min-width: 768px) {
  .section-content .fund-application h5 {
    font-size: 32px;
    line-height: 50px; }
  .section-content .fund-application p {
    font-size: 15px;
    line-height: 30px; }
    .section-content .fund-application p.note {
      font-size: 20px;
      line-height: 38px; } }
@media (min-width: 992px) {
  .section-content .fund-application h5 {
    font-size: 33px; }
  .section-content .fund-application p {
<<<<<<< HEAD
    font-size: 16px;
    line-height: 32px; } }

.sub-title {
  font-size: 16px;
  color: #111;
  font-weight: 500;
  padding-left: 23px;
  background-image: url(/assets/images/sub/bg_sub_title.png);
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position: 0 50%; }
  @media (min-width: 768px) {
    .sub-title {
      font-size: 22px;
      padding-left: 27px;
      background-size: 17px auto; } }

.search-form {
  position: relative;
  padding: 17px 68px 17px 110px;
  background-color: #ececec; }
  .search-form .form-group .form-control {
    height: 40px; }
  .search-form .form-group select {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 95px; }
  .search-form .btn-search {
    position: absolute;
    top: 17px;
    right: 10px;
    width: 53px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #5e5e5f; }
  @media (min-width: 768px) {
    .search-form {
      padding: 30px 170px 30px 190px;
      border: 1px solid #ebebeb; }
      .search-form .form-group .form-control {
        height: 35px; }
      .search-form .form-group select {
        top: 30px;
        left: 40px;
        width: 130px; }
      .search-form .btn-search {
        top: 30px;
        right: 40px;
        width: 120px;
        height: 35px;
        line-height: 35px; } }
  @media (min-width: 992px) {
    .search-form {
      padding-left: 210px;
      padding-right: 200px; }
      .search-form .form-group select {
        left: 70px; }
      .search-form .btn-search {
        right: 70px; } }

.faq-list {
  border-top: 2px solid #143883; }
  .faq-list .panel {
    margin: 0 !important;
    border: 0;
    border-radius: 0; }
    .faq-list .panel:first-child .panel-heading {
      border-top: 0; }
    .faq-list .panel .panel-heading {
      position: relative;
      padding: 0;
      border-radius: 0;
      border-top: 1px solid #dfdfdf;
      background-color: #fff; }
      .faq-list .panel .panel-heading:before {
        position: absolute;
        top: 13px;
        left: 20px;
        display: block;
        width: 28px;
        height: 28px;
        font-size: 15px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        color: #fff;
        content: "Q";
        font-family: 'Roboto', sans-serif;
        border-radius: 50%;
        background-color: #143883; }
      .faq-list .panel .panel-heading a {
        padding: 15px 20px 15px 70px;
        position: relative;
        font-size: 14px;
        display: block;
        color: #143883;
        font-weight: 400;
        line-height: 24px; }
        .faq-list .panel .panel-heading a:after {
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -12px;
          font-family: "fontello";
          content: "\E809"; }
        .faq-list .panel .panel-heading a.collapsed {
          color: #555; }
          .faq-list .panel .panel-heading a.collapsed:after {
            margin-top: -12px;
            font-family: "fontello";
            content: "\E80A"; }
    .faq-list .panel .panel-body {
      font-size: 12px;
      color: #555;
      line-height: 22px;
      padding: 30px 30px 30px 70px;
      border-radius: 0;
      background-color: #f6f6f8; }
  @media (min-width: 768px) {
    .faq-list .panel .panel-heading a {
      font-size: 16px; }
      .faq-list .panel .panel-heading a:after {
        font-size: 16px; }
    .faq-list .panel .panel-body {
      font-size: 14px;
      line-height: 28px; } }
=======
    font-size: 16px; } }
.section-content .fund-list {
  margin-top: 55px; }
  .section-content .fund-list ul li .fund-info {
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc; }
    .section-content .fund-list ul li .fund-info figure {
      border-bottom: 1px solid #ccc;
      overflow: hidden; }
      .section-content .fund-list ul li .fund-info figure img {
        width: 100%; }
    .section-content .fund-list ul li .fund-info .details {
      padding: 30px; }
      .section-content .fund-list ul li .fund-info .details h6 {
        font-size: 17px;
        color: #143883;
        margin-bottom: 15px; }
      .section-content .fund-list ul li .fund-info .details p {
        font-size: 13px;
        color: #555;
        line-height: 22px; }
@media (min-width: 768px) {
  .section-content .fund-list ul li .fund-info {
    margin-top: 0; }
    .section-content .fund-list ul li .fund-info figure {
      height: 170px; }
      .section-content .fund-list ul li .fund-info figure > img {
        width: 100%;
        height: 100%; }
  .section-content .fund-list ul li:last-child .fund-info {
    margin-right: 0; } }
>>>>>>> 523036fc636ece9b0eb70de96a68af5c0f0545b9

/*# sourceMappingURL=sub.css.map */
