body {
  min-width: 320px;
  font-size: 13px;
  color: #666;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif; }

address, p, dl {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0; }

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

a {
  color: #666; }
  a:hover, a:focus {
    text-decoration: none; }

.container,
.container-fluid {
  padding-left: 10px;
  padding-right: 10px; }
  .container .row,
  .container-fluid .row {
    margin-left: -5px;
    margin-right: -5px; }
    .container .row .col-xs-1,
    .container .row .col-sm-1,
    .container .row .col-md-1,
    .container .row .col-lg-1,
    .container-fluid .row .col-xs-1,
    .container-fluid .row .col-sm-1,
    .container-fluid .row .col-md-1,
    .container-fluid .row .col-lg-1 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-2,
    .container .row .col-sm-2,
    .container .row .col-md-2,
    .container .row .col-lg-2,
    .container-fluid .row .col-xs-2,
    .container-fluid .row .col-sm-2,
    .container-fluid .row .col-md-2,
    .container-fluid .row .col-lg-2 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-3,
    .container .row .col-sm-3,
    .container .row .col-md-3,
    .container .row .col-lg-3,
    .container-fluid .row .col-xs-3,
    .container-fluid .row .col-sm-3,
    .container-fluid .row .col-md-3,
    .container-fluid .row .col-lg-3 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-4,
    .container .row .col-sm-4,
    .container .row .col-md-4,
    .container .row .col-lg-4,
    .container-fluid .row .col-xs-4,
    .container-fluid .row .col-sm-4,
    .container-fluid .row .col-md-4,
    .container-fluid .row .col-lg-4 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-5,
    .container .row .col-sm-5,
    .container .row .col-md-5,
    .container .row .col-lg-5,
    .container-fluid .row .col-xs-5,
    .container-fluid .row .col-sm-5,
    .container-fluid .row .col-md-5,
    .container-fluid .row .col-lg-5 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-6,
    .container .row .col-sm-6,
    .container .row .col-md-6,
    .container .row .col-lg-6,
    .container-fluid .row .col-xs-6,
    .container-fluid .row .col-sm-6,
    .container-fluid .row .col-md-6,
    .container-fluid .row .col-lg-6 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-7,
    .container .row .col-sm-7,
    .container .row .col-md-7,
    .container .row .col-lg-7,
    .container-fluid .row .col-xs-7,
    .container-fluid .row .col-sm-7,
    .container-fluid .row .col-md-7,
    .container-fluid .row .col-lg-7 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-8,
    .container .row .col-sm-8,
    .container .row .col-md-8,
    .container .row .col-lg-8,
    .container-fluid .row .col-xs-8,
    .container-fluid .row .col-sm-8,
    .container-fluid .row .col-md-8,
    .container-fluid .row .col-lg-8 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-9,
    .container .row .col-sm-9,
    .container .row .col-md-9,
    .container .row .col-lg-9,
    .container-fluid .row .col-xs-9,
    .container-fluid .row .col-sm-9,
    .container-fluid .row .col-md-9,
    .container-fluid .row .col-lg-9 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-10,
    .container .row .col-sm-10,
    .container .row .col-md-10,
    .container .row .col-lg-10,
    .container-fluid .row .col-xs-10,
    .container-fluid .row .col-sm-10,
    .container-fluid .row .col-md-10,
    .container-fluid .row .col-lg-10 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-11,
    .container .row .col-sm-11,
    .container .row .col-md-11,
    .container .row .col-lg-11,
    .container-fluid .row .col-xs-11,
    .container-fluid .row .col-sm-11,
    .container-fluid .row .col-md-11,
    .container-fluid .row .col-lg-11 {
      padding-left: 5px;
      padding-right: 5px; }
    .container .row .col-xs-12,
    .container .row .col-sm-12,
    .container .row .col-md-12,
    .container .row .col-lg-12,
    .container-fluid .row .col-xs-12,
    .container-fluid .row .col-sm-12,
    .container-fluid .row .col-md-12,
    .container-fluid .row .col-lg-12 {
      padding-left: 5px;
      padding-right: 5px; }
  @media (min-width: 768px) {
    .container,
    .container-fluid {
      padding-left: 20px;
      padding-right: 20px; }
      .container .row,
      .container-fluid .row {
        margin-left: -10px;
        margin-right: -10px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 10px;
          padding-right: 10px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 10px;
          padding-right: 10px; } }
  @media (min-width: 1200px) {
    .container,
    .container-fluid {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px; }
      .container .row,
      .container-fluid .row {
        margin-left: -15px;
        margin-right: -15px; }
        .container .row .col-xs-1,
        .container .row .col-sm-1,
        .container .row .col-md-1,
        .container .row .col-lg-1,
        .container-fluid .row .col-xs-1,
        .container-fluid .row .col-sm-1,
        .container-fluid .row .col-md-1,
        .container-fluid .row .col-lg-1 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-2,
        .container .row .col-sm-2,
        .container .row .col-md-2,
        .container .row .col-lg-2,
        .container-fluid .row .col-xs-2,
        .container-fluid .row .col-sm-2,
        .container-fluid .row .col-md-2,
        .container-fluid .row .col-lg-2 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-3,
        .container .row .col-sm-3,
        .container .row .col-md-3,
        .container .row .col-lg-3,
        .container-fluid .row .col-xs-3,
        .container-fluid .row .col-sm-3,
        .container-fluid .row .col-md-3,
        .container-fluid .row .col-lg-3 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-4,
        .container .row .col-sm-4,
        .container .row .col-md-4,
        .container .row .col-lg-4,
        .container-fluid .row .col-xs-4,
        .container-fluid .row .col-sm-4,
        .container-fluid .row .col-md-4,
        .container-fluid .row .col-lg-4 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-5,
        .container .row .col-sm-5,
        .container .row .col-md-5,
        .container .row .col-lg-5,
        .container-fluid .row .col-xs-5,
        .container-fluid .row .col-sm-5,
        .container-fluid .row .col-md-5,
        .container-fluid .row .col-lg-5 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-6,
        .container .row .col-sm-6,
        .container .row .col-md-6,
        .container .row .col-lg-6,
        .container-fluid .row .col-xs-6,
        .container-fluid .row .col-sm-6,
        .container-fluid .row .col-md-6,
        .container-fluid .row .col-lg-6 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-7,
        .container .row .col-sm-7,
        .container .row .col-md-7,
        .container .row .col-lg-7,
        .container-fluid .row .col-xs-7,
        .container-fluid .row .col-sm-7,
        .container-fluid .row .col-md-7,
        .container-fluid .row .col-lg-7 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-8,
        .container .row .col-sm-8,
        .container .row .col-md-8,
        .container .row .col-lg-8,
        .container-fluid .row .col-xs-8,
        .container-fluid .row .col-sm-8,
        .container-fluid .row .col-md-8,
        .container-fluid .row .col-lg-8 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-9,
        .container .row .col-sm-9,
        .container .row .col-md-9,
        .container .row .col-lg-9,
        .container-fluid .row .col-xs-9,
        .container-fluid .row .col-sm-9,
        .container-fluid .row .col-md-9,
        .container-fluid .row .col-lg-9 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-10,
        .container .row .col-sm-10,
        .container .row .col-md-10,
        .container .row .col-lg-10,
        .container-fluid .row .col-xs-10,
        .container-fluid .row .col-sm-10,
        .container-fluid .row .col-md-10,
        .container-fluid .row .col-lg-10 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-11,
        .container .row .col-sm-11,
        .container .row .col-md-11,
        .container .row .col-lg-11,
        .container-fluid .row .col-xs-11,
        .container-fluid .row .col-sm-11,
        .container-fluid .row .col-md-11,
        .container-fluid .row .col-lg-11 {
          padding-left: 15px;
          padding-right: 15px; }
        .container .row .col-xs-12,
        .container .row .col-sm-12,
        .container .row .col-md-12,
        .container .row .col-lg-12,
        .container-fluid .row .col-xs-12,
        .container-fluid .row .col-sm-12,
        .container-fluid .row .col-md-12,
        .container-fluid .row .col-lg-12 {
          padding-left: 15px;
          padding-right: 15px; } }

#header {
  border-bottom: 2px solid #004f97; }

#content {
  padding-bottom: 80px; }
  #content .container-fluid {
    max-width: 1200px; }
  @media (min-width: 768px) {
    #content {
      padding-bottom: 120px; } }
  @media (min-width: 992px) {
    #content {
      padding-bottom: 150px; } }

.page-header {
  color: #fff;
  margin: 0;
  padding: 45px 0;
  border: 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url(/assets/images/sub/bg_page_header.jpg); }
  .page-header .page-title {
    font-size: 34px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif; }
  .page-header .breadcrumb {
    font-size: 0;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    background: none; }
    .page-header .breadcrumb > li {
      font-size: 12px;
      color: #fff; }
      .page-header .breadcrumb > li:before {
        padding: 0 10px;
        content: "\E805";
        font-family: "fontello"; }
      .page-header .breadcrumb > li:first-child:before {
        display: none; }
      .page-header .breadcrumb > li > a {
        color: #fff; }
        .page-header .breadcrumb > li > a .icon-home {
          position: relative;
          top: -1px; }
  @media (min-width: 768px) {
    .page-header {
      padding: 85px 0 60px; }
      .page-header .page-title {
        font-size: 48px; }
      .page-header .breadcrumb > li {
        font-size: 15px; } }

.page-wrap .lnb-nav {
  margin: 0 -10px; }
  .page-wrap .lnb-nav ul {
    width: 100%;
    font-size: 0; }
    .page-wrap .lnb-nav ul li {
      display: inline-block;
      width: 25%; }
      .page-wrap .lnb-nav ul li a {
        display: block;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        padding: 15px 0;
        text-align: center;
        background-color: #143883;
        border-right: 1px solid #5b74a8; }
      .page-wrap .lnb-nav ul li.active a {
        color: #143883;
        background-color: #fff; }
      .page-wrap .lnb-nav ul li:last-child a {
        border-right: 0; }
.page-wrap .sub-content {
  padding-top: 50px; }
@media (min-width: 768px) {
  .page-wrap .lnb-nav {
    margin: 0 -20px; }
    .page-wrap .lnb-nav ul li a {
      padding: 17px 0;
      font-size: 17px; }
  .page-wrap .sub-content {
    padding-top: 85px; } }
@media (min-width: 1200px) {
  .page-wrap {
    padding-top: 50px; }
    .page-wrap .lnb-nav {
      margin: 0;
      padding-right: 40px; }
      .page-wrap .lnb-nav .lnb-title {
        font-size: 28px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        padding: 35px 0 25px;
        background-color: #143883; }
        .page-wrap .lnb-nav .lnb-title small {
          font-size: 12px;
          color: #2364e4;
          display: block;
          margin-top: 10px; }
      .page-wrap .lnb-nav ul {
        border: 1px solid #ccc; }
        .page-wrap .lnb-nav ul li {
          display: block;
          width: 100%; }
          .page-wrap .lnb-nav ul li a {
            text-align: left;
            font-size: 15px;
            color: #666;
            padding: 20px;
            border-right: 0;
            background-color: #fff;
            border-bottom: 1px solid #ccc; }
            .page-wrap .lnb-nav ul li a:after {
              position: relative;
              top: 2px;
              font-size: 13px;
              float: right;
              font-family: "fontello";
              content: "\E800"; }
          .page-wrap .lnb-nav ul li.active a {
            color: #143883;
            background-color: #eaeaee; }
          .page-wrap .lnb-nav ul li:last-child a {
            border-bottom: 0; }
    .page-wrap .sub-content {
      padding-top: 20px; } }

.form-group {
  margin: 0; }

label {
  font-weight: 400;
  margin-bottom: 0; }

.form-control {
  font-size: 13px;
  color: #666;
  border-radius: 0;
  box-shadow: none !important;
  border: 1px solid #dee1e2; }

.btn {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }
  .btn:hover, .btn:focus {
    opacity: .7; }

section .section-header {
  padding-bottom: 25px;
  border-bottom: 3px solid #eaeaee; }
  section .section-header .section-title {
    font-size: 22px;
    color: #143883;
    font-weight: bold; }
section .section-content {
  margin-top: 30px; }
@media (min-width: 768px) {
  section .section-header {
    padding-bottom: 30px; }
    section .section-header .section-title {
      font-size: 32px; }
  section .section-content {
    margin-top: 45px; } }
@media (min-width: 992px) {
  section .section-header .section-title {
    font-size: 36px; }
  section .section-content {
    margin-top: 50px; } }

.sub-title {
  font-size: 16px;
  color: #111;
  font-weight: 500;
  padding-left: 23px;
  background-image: url(/assets/images/sub/bg_sub_title.png);
  background-repeat: no-repeat;
  background-size: 14px auto;
  background-position: 0 50%; }
  @media (min-width: 768px) {
    .sub-title {
      font-size: 22px;
      padding-left: 27px;
      background-size: 17px auto; } }

.search-form {
  position: relative;
  padding: 17px 68px 17px 110px;
  background-color: #ececec; }
  .search-form .form-group .form-control {
    height: 40px; }
  .search-form .form-group select {
    position: absolute;
    top: 17px;
    left: 10px;
    width: 95px; }
  .search-form .btn-search {
    position: absolute;
    top: 17px;
    right: 10px;
    width: 53px;
    height: 40px;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #5e5e5f; }
  @media (min-width: 768px) {
    .search-form {
      padding: 30px 170px 30px 190px;
      border: 1px solid #ebebeb; }
      .search-form .form-group .form-control {
        height: 35px; }
      .search-form .form-group select {
        top: 30px;
        left: 40px;
        width: 130px; }
      .search-form .btn-search {
        top: 30px;
        right: 40px;
        width: 120px;
        height: 35px;
        line-height: 35px; } }
  @media (min-width: 992px) {
    .search-form {
      padding-left: 210px;
      padding-right: 200px; }
      .search-form .form-group select {
        left: 70px; }
      .search-form .btn-search {
        right: 70px; } }

.faq-list {
  border-top: 2px solid #143883; }
  .faq-list .panel {
    margin: 0 !important;
    border: 0;
    border-radius: 0; }
    .faq-list .panel:first-child .panel-heading {
      border-top: 0; }
    .faq-list .panel .panel-heading {
      position: relative;
      padding: 0;
      border-radius: 0;
      border-top: 1px solid #dfdfdf;
      background-color: #fff; }
      .faq-list .panel .panel-heading:before {
        position: absolute;
        top: 13px;
        left: 20px;
        display: block;
        width: 28px;
        height: 28px;
        font-size: 15px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        color: #fff;
        content: "Q";
        font-family: 'Roboto', sans-serif;
        border-radius: 50%;
        background-color: #143883; }
      .faq-list .panel .panel-heading a {
        padding: 15px 20px 15px 70px;
        position: relative;
        font-size: 14px;
        display: block;
        color: #143883;
        font-weight: 400;
        line-height: 24px; }
        .faq-list .panel .panel-heading a:after {
          position: absolute;
          top: 50%;
          right: 10px;
          margin-top: -12px;
          font-family: "fontello";
          content: "\E809"; }
        .faq-list .panel .panel-heading a.collapsed {
          color: #555; }
          .faq-list .panel .panel-heading a.collapsed:after {
            margin-top: -12px;
            font-family: "fontello";
            content: "\E80A"; }
    .faq-list .panel .panel-body {
      font-size: 12px;
      color: #555;
      line-height: 22px;
      padding: 30px 30px 30px 70px;
      border-radius: 0;
      background-color: #f6f6f8; }
  @media (min-width: 768px) {
    .faq-list .panel .panel-heading a {
      font-size: 16px; }
      .faq-list .panel .panel-heading a:after {
        font-size: 16px; }
    .faq-list .panel .panel-body {
      font-size: 14px;
      line-height: 28px; } }
  .faq-list .fund-list {
    margin-top: 55px; }
    .faq-list .fund-list ul li .fund-info {
      margin: 0 auto;
      margin-top: 20px;
      border: 1px solid #ccc; }
      .faq-list .fund-list ul li .fund-info figure {
        border-bottom: 1px solid #ccc;
        overflow: hidden; }
        .faq-list .fund-list ul li .fund-info figure img {
          width: 100%; }
      .faq-list .fund-list ul li .fund-info .details {
        padding: 30px; }
        .faq-list .fund-list ul li .fund-info .details h6 {
          font-size: 17px;
          color: #143883;
          margin-bottom: 15px; }
        .faq-list .fund-list ul li .fund-info .details p {
          font-size: 13px;
          color: #555;
          line-height: 22px; }
  @media (min-width: 768px) {
    .faq-list .fund-list ul li .fund-info {
      margin-top: 0; }
      .faq-list .fund-list ul li .fund-info figure {
        height: 170px; }
        .faq-list .fund-list ul li .fund-info figure > img {
          width: 100%;
          height: 100%; }
    .faq-list .fund-list ul li:last-child .fund-info {
      margin-right: 0; } }

.table {
  margin-bottom: 0; }

.default-borad {
  border-top: 2px solid #143883; }
  .default-borad .table {
    table-layout: fixed;
    border: 0; }
    .default-borad .table thead tr th {
      padding: 15px 0;
      font-size: 14px;
      color: #143883;
      font-weight: 400;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #143883; }
      @media (min-width: 768px) {
        .default-borad .table thead tr th {
          font-size: 16px;
          padding: 20px 0; } }
    .default-borad .table tbody tr td {
      font-size: 13px;
      color: #666;
      text-align: center;
      padding: 15px 0;
      border: 0;
      border-bottom: 1px solid #dfdfdf; }
      .default-borad .table tbody tr td.subject {
        text-align: left; }
        .default-borad .table tbody tr td.subject a {
          display: block;
          color: #666;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          padding-left: 10px; }
          @media (min-width: 768px) {
            .default-borad .table tbody tr td.subject a {
              padding-left: 20px; } }
      .default-borad .table tbody tr td.reply {
        background-color: #fff; }
        .default-borad .table tbody tr td.reply a {
          position: relative;
          padding-left: 70px;
          background-image: url(/assets/images/sub/icon_reply.gif);
          background-repeat: no-repeat;
          background-position: 15px 0; }
          .default-borad .table tbody tr td.reply a span {
            position: absolute;
            top: 0;
            left: 35px;
            width: 30px;
            font-size: 13px;
            color: #fff;
            text-align: center;
            line-height: 18px;
            background-color: #143883; }
          @media (min-width: 768px) {
            .default-borad .table tbody tr td.reply a {
              padding-left: 90px;
              background-position: 25px 0; }
              .default-borad .table tbody tr td.reply a span {
                left: 45px;
                width: 35px;
                line-height: 21px; } }
      .default-borad .table tbody tr td.num, .default-borad .table tbody tr td.date, .default-borad .table tbody tr td.hit {
        font-family: 'Roboto', sans-serif; }
      @media (min-width: 768px) {
        .default-borad .table tbody tr td {
          font-size: 15px;
          padding: 20px 0; } }

.table-responsive {
  margin-bottom: 0;
  border: 0;
  border-top: 2px solid #143883; }
  .table-responsive .table {
    border: 0; }
    .table-responsive .table thead tr th {
      font-size: 12px;
      color: #143883;
      padding: 15px 10px;
      font-weight: 400;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #143883; }
      @media (min-width: 768px) {
        .table-responsive .table thead tr th {
          font-size: 15px;
          padding: 20px 0; } }
    .table-responsive .table tbody tr td {
      font-size: 12px;
      color: #666;
      vertical-align: middle;
      text-align: center;
      padding: 15px 20px;
      border: 0;
      border-left: 1px solid #dfdfdf;
      border-bottom: 1px solid #dfdfdf; }
      .table-responsive .table tbody tr td:first-child {
        border-left: 0; }
      @media (min-width: 768px) {
        .table-responsive .table tbody tr td {
          font-size: 14px;
          padding: 20px; } }
    .table-responsive .table tbody tr.bold-bg td {
      background-color: #f6f6f8; }

.table-wrap {
  border-top: 2px solid #143883; }
  .table-wrap .type-2 tbody tr th {
    width: 110px;
    font-size: 13px;
    color: #333;
    font-weight: 500;
    padding: 20px 20px 40px;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f6f6f8; }
  .table-wrap .type-2 tbody tr td {
    font-size: 12px;
    color: #666;
    line-height: 24px;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 25px; }
  @media (min-width: 768px) {
    .table-wrap .type-2 tbody tr th {
      width: 170px;
      font-size: 15px;
      line-height: normal;
      padding: 20px 20px; }
    .table-wrap .type-2 tbody tr td {
      font-size: 14px;
      line-height: normal;
      padding: 20px 30px; } }
  @media (min-width: 1200px) {
    .table-wrap .type-2 tbody tr th {
      width: 170px;
      padding: 20px 20px; }
    .table-wrap .type-2 tbody tr td {
      padding: 20px 30px; } }

.btn-responsive {
  text-align: center; }
  .btn-responsive p {
    font-size: 0; }
    .btn-responsive p .btn {
      display: inline-block;
      font-size: 15px; }
    .btn-responsive p ~ p {
      margin-top: 10px; }
  @media (min-width: 768px) {
    .btn-responsive {
      overflow: hidden; }
      .btn-responsive p {
        float: left; }
        .btn-responsive p ~ p {
          float: right;
          margin-top: 0; }
        .btn-responsive p .btn-sm {
          width: 170px; }
        .btn-responsive p .btn-lg {
          width: 170px; } }

.btn-area {
  text-align: center; }
  .btn-area p {
    font-size: 0; }
    .btn-area p .btn {
      font-size: 15px;
      display: inline-block;
      margin-right: 10px; }
      .btn-area p .btn:last-child {
        margin-right: 0; }
  @media (min-width: 768px) {
    .btn-area {
      text-align: right; } }

.btn.btn-sm {
  width: 145px;
  height: 50px;
  margin-right: 10px; }
  .btn.btn-sm:last-child {
    margin-right: 0; }
  .btn.btn-sm.btn-white {
    color: #333;
    line-height: 48px;
    border: 1px solid #aaa; }
  .btn.btn-sm.btn-blue {
    color: #fff;
    border: 0;
    line-height: 50px;
    background-color: #143883; }
.btn.btn-lg {
  width: 300px; }
  .btn.btn-lg.btn-white {
    color: #333;
    line-height: 48px;
    border: 1px solid #aaa; }
  .btn.btn-lg.btn-blue {
    color: #fff;
    border: 0;
    line-height: 50px;
    background-color: #143883; }
@media (min-width: 768px) {
  .btn.btn-sm {
    width: 170px; } }

.board-view .view-header .board-title {
  font-size: 15px;
  color: #143883;
  font-weight: 400;
  line-height: 24px;
  padding: 25px 10px;
  border-top: 2px solid #143883;
  border-bottom: 1px solid #143883; }
.board-view .view-header .borad-info {
  padding: 20px 10px;
  border-bottom: 1px solid #dfdfdf; }
  .board-view .view-header .borad-info > ul > li {
    display: inline-block;
    font-size: 12px;
    color: #666;
    font-weight: 300; }
    .board-view .view-header .borad-info > ul > li:after {
      position: relative;
      top: -2px;
      font-size: 10px;
      display: inline-block;
      margin: 0 7px;
      content: "|"; }
    .board-view .view-header .borad-info > ul > li:last-child:after {
      content: "";
      margin: 0; }
    .board-view .view-header .borad-info > ul > li > dl {
      display: inline-block;
      font-family: 'Roboto', sans-serif; }
      .board-view .view-header .borad-info > ul > li > dl dt {
        display: inline-block;
        color: #666;
        font-weight: 300; }
        .board-view .view-header .borad-info > ul > li > dl dt:after {
          content: " :"; }
      .board-view .view-header .borad-info > ul > li > dl dd {
        display: inline-block;
        color: #666;
        font-weight: 300; }
.board-view .view-body {
  font-size: 12px;
  color: #666;
  line-height: 30px;
  font-weight: 300;
  padding: 40px 10px 160px;
  border-bottom: 1px solid #dfdfdf; }
.board-view .attach {
  overflow: hidden;
  padding: 25px 10px;
  border-bottom: 1px solid #dfdfdf; }
  .board-view .attach dt {
    float: left;
    font-size: 12px;
    width: 70px;
    color: #666;
    line-height: 26px; }
  .board-view .attach dd {
    float: left;
    font-size: 12px; }
    .board-view .attach dd a {
      display: block;
      color: #999;
      line-height: 26px; }
@media (min-width: 768px) {
  .board-view .view-header .board-title {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px; }
  .board-view .view-header .borad-info {
    padding-left: 30px;
    padding-right: 30px; }
    .board-view .view-header .borad-info > ul > li {
      font-size: 13px; }
  .board-view .view-body {
    font-size: 14px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px; }
  .board-view .attach {
    padding: 20px 30px; }
    .board-view .attach dt {
      font-size: 13px; }
    .board-view .attach dd a {
      font-size: 13px; } }

.reply {
  padding: 30px 20px;
  border: 1px solid #dfdfdf;
  background-color: #f6f6f8; }
  .reply h6 {
    display: inline-block;
    font-size: 13px;
    color: #f56462;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #f56462; }
  .reply p {
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-top: 20px; }
  @media (min-width: 768px) {
    .reply {
      padding: 30px; }
      .reply p {
        font-size: 13px;
        line-height: 26px; } }

.page-link {
  border-top: 2px solid #143883; }
  .page-link > li {
    padding: 20px 10px;
    display: block;
    border-bottom: 1px solid #ccc; }
    .page-link > li dl {
      position: relative;
      padding-left: 90px; }
      .page-link > li dl dt {
        position: absolute;
        top: 0;
        left: 0;
        width: 90px;
        font-size: 13px;
        color: #143883;
        font-weight: 400; }
        .page-link > li dl dt:after {
          float: right;
          font-family: "fontello";
          margin-right: 30px; }
      .page-link > li dl dd a {
        display: block;
        font-size: 13px;
        color: #666;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .page-link > li.prev-link dl dt:after {
      content: "\E807"; }
    .page-link > li.next-link dl dt:after {
      content: "\E80B"; }
  @media (min-width: 768px) {
    .page-link > li {
      padding-left: 30px;
      padding-right: 30px; }
      .page-link > li dl {
        padding-left: 140px; }
        .page-link > li dl dt {
          width: 140px;
          font-size: 15px; }
          .page-link > li dl dt:after {
            margin-right: 60px; }
        .page-link > li dl dd a {
          font-size: 14px; } }

.paging {
  text-align: center; }
  .paging .pagination {
    margin: 0;
    border-radius: 0; }
    .paging .pagination li a {
      width: 32px;
      font-size: 13px;
      color: #aaa;
      font-weight: 400;
      text-align: center;
      line-height: 30px;
      padding: 0;
      border-radius: 0;
      border-color: #d8d8d8;
      font-family: 'Roboto', sans-serif; }
      .paging .pagination li a:hover, .paging .pagination li a:focus {
        background: none; }
    .paging .pagination li.active a {
      color: #fff;
      border-color: #143883;
      background-color: #143883; }
    .paging .pagination li.prev a {
      margin-right: 5px; }
    .paging .pagination li.next a {
      margin-left: 5px; }
  @media (min-width: 768px) {
    .paging .pagination li.prev a {
      margin-right: 0px; }
    .paging .pagination li.next a {
      margin-left: 0px;
      border-left: 0; } }

.write-form .section-content .write-item article ~ article {
  margin-top: 70px; }
.write-form .section-content .write-item article .article-header {
  padding-bottom: 30px; }
  .write-form .section-content .write-item article .article-header > .attention {
    font-size: 12px;
    color: #999;
    margin-top: 20px;
    line-height: 20px; }
    .write-form .section-content .write-item article .article-header > .attention:before {
      content: "*"; }
    .write-form .section-content .write-item article .article-header > .attention a {
      color: #999; }
      @media (min-width: 1200px) {
        .write-form .section-content .write-item article .article-header > .attention a {
          cursor: auto; } }
  .write-form .section-content .write-item article .article-header label {
    position: relative;
    display: block;
    font-size: 13px;
    color: #666;
    line-height: 24px;
    font-weight: 300;
    padding-left: 23px;
    margin-top: 30px; }
    .write-form .section-content .write-item article .article-header label input {
      position: absolute;
      top: 2px;
      left: 0; }
.write-form .section-content .write-item article .article-content .table-wrap .table {
  border: 0; }
  .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr th {
    width: 110px;
    font-size: 13px;
    color: #333;
    font-weight: 400;
    vertical-align: middle;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #dfdfdf;
    background-color: #f6f6f8; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr th.v-top {
      vertical-align: top; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr th.addr {
      vertical-align: top; }
  .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td {
    font-size: 13px;
    color: #666;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #dfdfdf; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td label {
      display: inline-block;
      font-size: 13px;
      font-weight: 300;
      margin-left: 15px;
      vertical-align: top; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td label input {
        position: relative;
        top: 1px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td label:first-child {
        margin-left: 0; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td textarea {
      height: 150px !important; }
      @media (min-width: 768px) {
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td textarea {
          height: 200px !important; } }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td .attention {
      font-size: 13px;
      color: #999;
      line-height: 18px;
      margin-top: 15px;
      letter-spacing: -1px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td .attention:before {
        content: "*"; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group label {
      margin-bottom: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group ~ .form-group {
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group .form-control ~ .form-control {
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group .form-control:nth-of-type(1) {
      display: inline-block;
      width: 93%; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr label {
      vertical-align: top;
      margin-bottom: 15px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group {
      position: relative;
      padding-left: 65px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group p {
        position: absolute;
        top: 0;
        left: 0;
        line-height: 34px;
        display: inline-block; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group .btn-xs {
        margin-top: 10px;
        width: 105px;
        text-align: center;
        line-height: 32px;
        color: #666;
        border: 1px solid #dfdfdf;
        background-color: #f6f6f8; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group .addr-details > .form-control {
        margin-top: 10px;
        display: block; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact label {
      display: block;
      margin-bottom: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact .form-group ~ .form-group {
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact .form-group .form-control {
      display: inline-block;
      width: 28%; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.email .form-group .form-control ~ .form-control {
      margin-top: 5px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.email .form-group .form-control:nth-of-type(2) {
      display: inline-block;
      width: 90%; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.shape label {
      float: left;
      line-height: 26px;
      margin-left: 0 !important;
      margin-right: 30px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.gift-pay p {
      text-align: right;
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li ~ li {
      margin-top: 15px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > label {
      position: relative;
      padding-left: 18px;
      line-height: 20px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > label input {
        position: absolute;
        top: 1px;
        left: 0; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > label span {
        display: block;
        color: #999;
        letter-spacing: -.5px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul {
      margin-top: 10px;
      padding-left: 25px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul > li {
        line-height: 26px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul > li > label .form-control {
          display: inline-block;
          height: 26px;
          width: 80px;
          border: 1px solid #fff;
          padding-left: 3px;
          padding-right: 3px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.designation p {
      margin-top: 10px;
      letter-spacing: -1px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.way p {
      margin-bottom: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.way label {
      display: block;
      margin-left: 0; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li {
      vertical-align: top; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li ~ li {
        margin-top: 15px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li > label {
        vertical-align: middle;
        margin-bottom: 10px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group {
        width: 170px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group ~ .form-group {
          margin-top: 5px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group > label {
          display: inline-block;
          width: 60px;
          letter-spacing: -1px;
          line-height: 34px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group .form-control {
          display: inline-block;
          width: 105px;
          padding-left: 5px;
          padding-right: 5px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group:nth-of-type(1) {
          position: relative; }
          .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group:nth-of-type(1) .form-control {
            padding-right: 36px; }
          .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group:nth-of-type(1) a {
            position: absolute;
            top: 0;
            right: 0;
            width: 34px;
            height: 34px;
            font-size: 14px;
            color: #999;
            line-height: 32px;
            text-align: center;
            border: 1px solid #dee1e2;
            background-color: #f6f6f6; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group ~ .form-group {
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div ~ div {
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div dl dt {
      display: inline-block;
      font-weight: 400;
      line-height: 34px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div dl dt:after {
        content: " :"; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div dl dd {
      display: inline-block;
      line-height: 34px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div dl dd .form-control {
        width: 78px;
        display: inline-block;
        margin: 0 5px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div:last-child dd .form-control {
      margin-right: 0; }
    @media (min-width: 768px) {
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div {
        display: inline-block; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div dl dd .form-control {
          width: 150px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div:last-child {
          margin-left: 40px; }
          .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group > div:last-child .form-control {
            width: 70px; } }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.pay-start > div {
      position: relative;
      display: inline-block;
      width: 100px;
      margin-left: 5px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.pay-start > div .form-control {
        width: 100%;
        padding-right: 36px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.pay-start > div a {
        position: absolute;
        top: 0;
        right: 0;
        width: 34px;
        height: 34px;
        font-size: 14px;
        color: #999;
        line-height: 32px;
        text-align: center;
        border: 1px solid #dee1e2;
        background-color: #f6f6f6; }
      @media (min-width: 768px) {
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.pay-start > div {
          width: 155px; } }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label {
      position: relative;
      display: block;
      line-height: 20px;
      padding-left: 18px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label ~ label {
        margin-top: 20px;
        margin-left: 0; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label input {
        position: absolute;
        top: 0;
        left: 0; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label span {
        display: inline-block;
        color: #999; }
        @media (min-width: 768px) {
          .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label span.space {
            padding-left: 52px; } }
    @media (min-width: 768px) {
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor {
        margin-top: 20px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label {
          margin-top: 0 !important;
          line-height: 28px; }
          .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.installment .form-group.seletor label input {
            top: 4px; } }
.write-form .section-content .write-item article .article-content .table-wrap .note {
  text-align: right;
  font-size: 12px;
  color: #999;
  margin-top: 10px; }
  .write-form .section-content .write-item article .article-content .table-wrap .note:before {
    content: "*"; }
.write-form .section-content .write-item .agree {
  margin-top: 20px; }
  .write-form .section-content .write-item .agree label input {
    position: relative;
    top: 1px;
    margin-right: 5px; }
  .write-form .section-content .write-item .agree .form-group {
    margin-top: 20px;
    text-align: right; }
    .write-form .section-content .write-item .agree .form-group label .form-control {
      display: inline-block;
      width: 60px;
      /*border: 1px solid #fff;*/ }
    .write-form .section-content .write-item .agree .form-group ~ .form-group .form-control {
      width: 150px; }
  .write-form .section-content .write-item .agree .agree-txt > p {
    font-size: 13px;
    color: #666;
    display: inline-block;
    margin-top: 10px; }
    @media (min-width: 768px) {
      .write-form .section-content .write-item .agree .agree-txt > p:last-child {
        margin-left: 20px; } }
  .write-form .section-content .write-item .agree .summary {
    text-align: left;
    font-size: 13px;
    color: #666;
    margin-top: 15px; }
  .write-form .section-content .write-item .agree ul {
    margin-top: 30px; }
    .write-form .section-content .write-item .agree ul li {
      display: inline-block;
      margin-right: 10px; }
.write-form .section-content .write-item .terms .article-header {
  padding-bottom: 0 !important; }
  .write-form .section-content .write-item .terms .article-header .sub-title {
    float: none;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .write-form .section-content .write-item .terms .article-header .sub-title {
        margin-bottom: 25px; } }
.write-form .section-content .write-item .btn-area {
  margin-top: 70px; }
@media (min-width: 768px) {
  .write-form .section-content .write-item article .article-header {
    overflow: hidden;
    padding-bottom: 25px; }
    .write-form .section-content .write-item article .article-header .sub-title {
      float: left; }
    .write-form .section-content .write-item article .article-header label {
      font-size: 14px;
      margin-top: 35px; }
    .write-form .section-content .write-item article .article-header .attention {
      margin-top: 0;
      float: right;
      line-height: 24px; }
  .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr th {
    width: 170px;
    font-size: 15px;
    padding-left: 25px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr th.v-top {
      padding-top: 15px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr th.addr {
      padding-top: 10px;
      vertical-align: middle; }
  .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td {
    font-size: 14px;
    padding: 15px 25px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td label {
      line-height: 34px;
      margin-left: 40px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.u-name .form-group .form-control {
      width: 170px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group {
      display: inline-block;
      margin-top: 0; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group label {
        margin: 0;
        width: 100px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .attention {
      margin-top: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr label {
      margin-bottom: 0; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group {
      display: block;
      margin-top: 10px;
      padding-left: 0; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group .form-control {
        display: inline-block;
        width: 130px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group .btn-xs {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        margin-left: 10px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.addr .form-group .addr-details .form-control {
        width: 100%; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact label {
      width: 75px;
      display: inline-block;
      margin-bottom: 0; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact .form-group {
      display: inline-block; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact .form-group .form-control {
        width: 100px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact .form-group:first-child {
        display: block; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.contact .choice {
      display: inline-block;
      margin-right: 15px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.email .form-group .form-control {
      display: inline-block;
      margin-top: 0 !important;
      width: 150px !important; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.email .form-group select {
      margin-left: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.gift-pay .form-group .form-control {
      display: inline-block;
      width: 200px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.gift-pay .form-group p {
      display: inline-block;
      line-height: 34px;
      margin-top: 0;
      margin-left: 10px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li ~ li {
      margin-top: 20px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > label span {
      display: inline-block; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul {
      padding-left: 18px;
      margin-top: 10px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul > li {
        display: inline-block;
        margin-right: 30px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul > li > label .form-control {
          width: 100px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.usage > ul > li > ul > li.etc label {
          margin-left: 0 !important; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.designation .form-group .form-control {
      display: inline-block;
      width: 200px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.designation .form-group p {
      display: inline-block;
      margin-top: 0;
      margin-left: 10px;
      line-height: 34px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.way label {
      display: inline-block;
      margin-right: 15px; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li > label {
      display: inline-block;
      margin-bottom: 0; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group {
      display: inline-block;
      width: 180px;
      margin-left: 15px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group > label {
        width: auto; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group .form-control {
        width: 126px; }
        .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li .form-group .form-control:first-child {
          width: 139px !important; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li:nth-of-type(3) .form-group {
      width: 230px;
      margin-left: 40px; }
      .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.immediately-pay > ul > li:nth-of-type(3) .form-group .form-control {
        width: 165px; } }
@media (min-width: 992px) {
  .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group {
    display: inline-block; }
    .write-form .section-content .write-item article .article-content .table-wrap .table tbody tr td.serial-number .form-group .form-control {
      display: inline-block;
      width: 120px !important;
      margin: 0 !important; } }

/*# sourceMappingURL=sub.css.map */
